@charset "UTF-8";

.mainBody .head{ height:100px;}

.WrapHub .head{height:90px; background:#ebe7e3; position:relative; z-index:25;}
.WrapHub .head .header{ width:1200px; margin:0 auto; height:90px; position:relative;background:none;z-index:20;}
.WrapHub .head .header .logo{position:absolute; left:50%; margin:0 0 0 -130px; } /* 20150723 로고 위치 수정 */
.WrapHub .head .logo a{ display:block;overflow:hidden;width:255px;height:70px; background:url(../images/common/honstay_main.png); text-indent:-9999%;}

/*.mainBody .head{ background-image:none; position:relative;height:115px;z-index:20;}*/
.stay .head{background-image:none;height:140px; position:relative; z-index:25;}
.stay .head .header{ width:1200px; margin:0 auto; height:87px; position:relative;background:none;z-index:50;}

/* header > 호텔찾기 */
.tempBox{z-index:19;}
.head .header .hotelBox_wrap{ position:absolute; left:0px; top:0 !important;  width:87px !important; height:39px !important; background:#fff url(../images/ko/common/new_2019/main_hotelsrc.png) no-repeat 0 0 !important; z-index:20; border:0; background-size: 100%;}
.head .header .hotelBox_wrap.on{ background:#fff url(../../images/ko/common/new_2019/main_hotelsrc.png) no-repeat 0 0 !important; border:0;background-size: 100%;}
.head .header .hotelBox_wrap .btn{ display:inline-block; position:relative; z-index:5;width: 100%; font-size:12px; height:51px; font-weight: bold; color: #5d4930; text-indent:-9999%; overflow:hidden;}

.head .header .hotelBox_wrap.hub{ position:absolute; left:0px; top:39px !important;  width:111px !important; height:51px !important; background:#ebe7e3 url(../images/common/main_hotelsrc_hub.png) no-repeat 0 0 !important; z-index:20; border:0px;}
.head .header .hotelBox_wrap.hub.on{background: url(../images/ko/common/new_2019/main_hotelsrc_hub.png) no-repeat 0px 0px !important;}
.head .header .hotelBox_wrap.hub.on .btn:after{position: absolute;bottom: 0;left: 0;z-index:10;content: '';display: inline-block;width:100%;height: 4px !important;background: #3b3b3a;}

.hotelBox_N{display:none;position:fixed;top:50%;left:50%;width:984px;min-height:525px;z-index:1002;background:#fff; transform: translate(-50.1%,-49.1%); -webkit-transform: translate(-50.1%,-49.1%); -moz-transform: translate(-50.1%,-49.1%);}
.hotelBox_N .btnClose{position:absolute;top:22px;right:20px;width:17px;height:17px;background:url(../images/ko/common/new_2019/main_layerClose.png) 0 0 no-repeat;text-indent:-9999px;}

.hotelBox_N .hHead{height:37px;padding:23px 0 0 40px;background:#f7f7f7;}			
.hotelBox_N .hHead .htTab:after{content:'';display:block;clear:both;}
.hotelBox_N .hHead .htTab li{float:left;position:relative;}
.hotelBox_N .hHead .htTab li + li{margin-left:21px;padding-left:20px;}
.hotelBox_N .hHead .htTab li + li:before{display:block;content:'';position:absolute;left:0;top:0;width:1px;height:15px;background:#eaeaea;}
.hotelBox_N .hHead .htTab li a{display:inline-block;padding-bottom:14px;}
.hotelBox_N .hHead .htTab li a span{display:inline-block;height:15px;overflow:hidden;background:url(../images/ko/common/new_2019/txt_hotel_search_tab.png) 0 0 no-repeat;text-indent:-9999px;}
.hotelBox_N .hHead .htTab li.tab1 span{width:57px;}
.hotelBox_N .hHead .htTab li.tab1.on span{background-position:-100px 0;}
.hotelBox_N .hHead .htTab li.tab2 span{width:42px;background-position:0 -20px;}
.hotelBox_N .hHead .htTab li.tab2.on span{background-position:-100px -20px;}
.hotelBox_N .hHead .htTab li.on a{border-bottom:2px solid #333;}
.hotelBox_N .hCon{padding:5px 40px 0;}
.hotelBox_N .hCon dl{position:relative;padding-left:150px;border-top:1px dotted #eaeaea;}
.hotelBox_N .hCon dl:first-child{border-top:0;}
.hotelBox_N .hCon dl dt{position:absolute;top:38px;left:0;}
.hotelBox_N .hCon .list1 dl dt{position:absolute;top:34px;left:0;}
.hotelBox_N .hCon .list1 dl:nth-child(2) dt{position:absolute;top:30px;left:0;}
.hotelBox_N .hCon dl dd{padding:25px 0 19px;box-sizing:border-box;}
.hotelBox_N .hCon ul li{display:inline-block;margin:0 0 6px 2px;}
.hotelBox_N .hCon ul li a{display:inline-block;position:relative;width:196px;border:1px solid #eaeaea;line-height:36px;text-align:center;letter-spacing:-1px;color:#999;font-weight: bold;}
.hotelBox_N .hCon ul li a:hover{color:#856f56;font-weight:bold;}
.hotelBox_N .hCon ul li a:hover:before{content:'';display:block;position:absolute;top:-1px;left:-1px;width:195px;height:35px;border:2px solid #856f56;}
.hotelBox_N .hCon ul li .monoWidth{width: 280px;}
.hotelBox_N .hCon ul li .monoWidth:hover:before{width: 280px;}
.hotelBox_N .hCon .list1 dl{padding-left:293px;}
.hotelBox_N .hCon .list2 dd{border-top:1px dotted #eaeaea;}
.hotelBox_N .hCon .list2 dt+dd{border-top:0;}
.hotelBox_N .hCon .list2 dd:first-child{border-top:0;}
.hotelBox_N .hCon .list2 dd:after{content:'';display:block;clear:both;}
.hotelBox_N .hCon .list2 dd .tit{float:left;width:140px;padding-top:15px;}
.hotelBox_N .hCon .list2 dd ul{float:left;width:612px;}

/* 메인 예약바 */
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch{width: 240px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .inpHtSch{width: 215px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .btnInpSch{margin-left: 0px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .btnDel{margin-left: 0px;}


/* 20150806 find a hotel 20180227 메인 수정 */
.head .header .hotelBox{ position:absolute; left:0px; top:31px;  width:91px; height:30px; background:#fff url(../images/ko/common/layout/stay_hotelIcon_2.png) no-repeat 0 0; z-index:20; border:1px solid #ebe7e3; background-size: 100%;}
.head .header .hotelBox.on{ background:#585553 url(../../images/ko/common/layout/stay_hotelIcon_2_on.png) no-repeat 0 0; border:1px solid #585553; background-size: 100%;}
.head .header .hotelBox .btn{ display:inline-block; position:relative; z-index:5;width: 100%; font-size:12px; height:51px; font-weight: bold; color: #5d4930; text-indent:-9999%; overflow:hidden;}
.head .header .hotelBox.hub{ position:absolute; left:0px; top:39px;  width:111px; height:51px; background:#ebe7e3 url(../images/ko/hub/common/hotelIcon.png) no-repeat 0 0; z-index:20; border:0px;}
.head .header .hotelBox.hub.on{ background:#585553 url(../images/ko/hub/common/hotelIcon_on.png) no-repeat 0 0;}
.head .header .hotelBox.hub:hover .btn:after{position: absolute;bottom: 0;left: 0;z-index:10;content: '';display: inline-block;width:100%;height: 4px;background: #3b3b3a;}
.head .header .hotelBox.hub.on:hover .btn:after{height:0;}
.head .header .hotelBox .list{position: absolute; top: 31px; left:-1px; display:none;width:542px;margin:0; background: #585553;}
.head .header .hub .list{top: 51px; left:0px;}
.head .header .hotelBox .list .hotel{float:left;width:180px;}
.head .header .hotelBox .list .stay{float:left;width:361px;border-left:1px solid #4b4847;}
.head .header .hotelBox .list .hotelListBox{padding:10px 0;}
.head .header .hotelBox .list a{display: block;padding:9px 0 9px 15px;font-size:12px;color: #fff;}
.head .header .hotelBox .list a:hover{text-decoration: underline;color: #fff;}
.head .header .hotelBox .list .tit{display: block;padding:8px 0 7px 15px;background-color: #3b3b3a;font-weight:bold;}
.head .header .hotelBox .list span.tit{background-color:transparent;font-weight:bold;color:#d5bea1;}
.head .header .hotelBox .list .stay .stayListBox > li{float:left;width:180px;padding:10px 0;}
.head .header .hotelBox .list .stay .stayListBox > li:first-child{border-right:1px solid #4b4847;}

.head .header .rsvBtn{position: absolute;left: 150px;top: 39px;}
.head .header .rsvBtn a{position: relative;display:inline-block; width: 83px; height: 51px; text-indent: -9999px;overflow: hidden;background:url(../images/common/hubMnuResevation.gif) no-repeat;}
.head .header .rsvBtn:hover a:after{position: absolute;bottom: 0;left: 0;z-index:10;content: '';display: block;width:100%;height: 4px;background: #3b3b3a;}

.head .header .hubMenu{position: absolute;right: 0;top: 39px;}
.head .header .hubMenu ul{overflow: hidden;}
.head .header .hubMenu ul li{float: left;margin-left: 40px;}
.head .header .hubMenu .hMenu1 a{position: relative;display:inline-block; width: 96px; height: 51px; text-indent: -9999px;overflow: hidden;background:url(../images/common/hubMnu1.gif) no-repeat;}
.head .header .hubMenu .hMenu1:hover a:after,
.head .header .hubMenu .hMenu2:hover a:after,
.head .header .hubMenu .hMenu3:hover a:after
{position: absolute;bottom: 0;left: 0;z-index:10;content: '';display: block;width: 100%;height: 4px;background: #3b3b3a;}
.head .header .hubMenu .hMenu2 a{position: relative;display:inline-block; width: 77px; height: 51px; text-indent: -9999px;overflow: hidden;background:url(../images/common/hubMnu2.gif) no-repeat;}
.head .header .hubMenu .hMenu3 a{position: relative;display:inline-block; width: 76px; height: 51px; text-indent: -9999px;overflow: hidden;background:url(../images/common/hubMnu3.gif) no-repeat;}

