/* new_2019.css */

html.has-modal{overflow:hidden;position:fixed;top:0;left:0;right:0;bottom:0}

.new_rsvBox input[type=text]:-ms-clear{display:none;}
.new_rsvBox input[type=text]::-ms-clear{display:none;}

/*selectbox */
.new_2019 .sortSelect .selector,
.new_2019 .sortSelect .selector span,
.new_2019 .sortSelect .selector select{height:20px;line-height:20px;}
.new_2019 .sortSelect .selector,
.new_2019 .sortSelect .selector span,
.new_2019 .sortSelect .selector:active,
.new_2019 .sortSelect .selector.active,
.new_2019 .sortSelect .selector:active span,
.new_2019 .sortSelect .selector.active span,
.new_2019 .sortSelect .selector.focus,
.new_2019 .sortSelect .selector.hover,
.new_2019 .sortSelect .selector:hover,
.new_2019 .sortSelect .selector.focus span,
.new_2019 .sortSelect .selector.hover span,
.new_2019 .sortSelect .selector:hover span,
.new_2019 .sortSelect .selector.focus:active,
.new_2019 .sortSelect .selector.focus.active,
.new_2019 .sortSelect .selector:hover:active,
.new_2019 .sortSelect .selector.active:hover,
.new_2019 .sortSelect .selector.focus:active span,
.new_2019 .sortSelect .selector:hover:active span,
.new_2019 .sortSelect .selector.active:hover span,
.new_2019 .sortSelect .selector.focus.active span,
.new_2019 .sortSelect .selector.disabled,
.new_2019 .sortSelect .selector.disabled:active,
.new_2019 .sortSelect .selector.disabled.active,
.new_2019 .sortSelect .selector.disabled span,
.new_2019 .sortSelect .selector.disabled:active span,
.new_2019 .sortSelect .selector.disabled.active span,
.new_2019 .sortSelect span{background:url(../../images/ko/dongtan/specialoffers/bg_rsv_select.png) right 7px no-repeat;color:#333;}
.new_2019 .sortSelect .selector{padding-left:0}
.new_2019 .sortSelect select{cursor:pointer}

.new_2019 .rsvSort > li{display:inline-block;position:relative;padding-left:20px;margin-left:12px;}
.new_2019 .rsvSort{position:relative;text-align:right}
.new_2019 .rsvSort > li .selector{text-align:left}
.new_2019 .rsvResultWrap .rsvSort:before{display:block;content:'';position:absolute;top:30px;left:0;width:1200px;height:1px;background:#ededed;}
.new_2019 .rsvSort > li .sortSelect .selector span{width:auto !important;}
.new_2019 .rsvSort > li .sortSelect .selector{width:95px !important;}
.new_2019 .rsvSort > li+li .sortSelect .selector{width:110px !important;}
.new_2019 .rsvSort > li.first.last .sortSelect .selector{width:110px !important;}/* 원화만 있을시 */

.new_2019.packDescBox{position:relative;}
.new_2019.packDescBox .rewards{position:absolute;right:0;top:0;padding:0;}
.new_2019.packDescBox .packDescList{width:445px;}
/* 신라리워즈 프로모션 */
/*리워즈배너CSS
.new_2019 .brpc {display:block;}
.new_2019 .brmo {display:none;}
@media (max-width: 640px) {
	.new_2019 .brpc {display:none;}
	.new_2019 .brmo {display:block;}
}
.new_2019.packContact .rw-box {background: #f7f1e2; padding: 20px; text-align: center;}
.new_2019.packContact .rw-box+.editBox{margin-top: 20px;}
.new_2019.packContact .rw-box img{width: 201px;}
.new_2019.packContact .rw-title{color: #49423a; letter-spacing: -1px; font-size: 18px; font-weight: bold; margin-bottom: 7px;}
.new_2019.packContact .rw-txt{color: #685745; line-height: 20px; font-size: 14px;}
.new_2019.packContact .rw-btn{background: #807060; margin: 10px auto 0px; width: 170px; height: 28px; color: rgb(255, 255, 255); line-height: 28px; font-weight: bold; text-decoration: none; display: block;}
.new_2019.packContact .rw-stxt{color: #685745; font-size: 12px; margin-top: 3px;}
.new_2019.packContact a.rw-pc {display:block;}
.new_2019.packContact a.rw-mo {display:none;}
@media screen and (max-width: 640px) {
	.new_2019.packContact .rw-box {background: #f2e1c4; padding: 10px; text-align: center; margin-bottom: 10px;}
	.new_2019.packContact .rw-box img{width: 190px; margin-bottom: 0px;}
	.new_2019.packContact .rw-title{color: #49423a; letter-spacing: -1px; font-size: 19px; font-weight: bold; margin-bottom: 7px;}
	.new_2019.packContact .rw-txt{color: #685745; line-height: 22px; font-size: 14px;}
	.new_2019.packContact .rw-btn{background: #807060; margin: 10px auto 5px; width: 170px; height: 28px; color: rgb(255, 255, 255); line-height: 28px; font-weight: bold; display: block;}
	.new_2019.packContact .rw-stxt{color: #685745; font-size: 12px; margin-top: 5px;}
	.new_2019.packContact a.rw-pc {display:none;}
	.new_2019.packContact a.rw-mo {display:block;}
}

.new_2019.packContact p.dc-int{padding-left:15px;text-indent:-15px; color:#444;}
@media (max-width: 640px) {
	.new_2019.packContact p.dc-int{padding-left:14px;text-indent:-14px; font-size:12px;color:#666;}
}
.new_2019.packContact .a-pc {display:inline-block;background:#81725f; text-align:center; padding:2px 10px 0; color:#fff; text-decoration:none;font-size:1em;}
.new_2019.packContact .a-mo { display:none;}
@media screen and (max-width: 640px) {
	.new_2019.packContact .a-mo { display:inline-block;margin:5px auto 5px auto; background:#81725f; text-align:center; padding:1px 10px; color:#fff; text-decoration:none;font-size:1em;}
	.new_2019.packContact .a-pc { display:none;}
}  리워즈배너CSS끝*/

/* 신라리워즈 프로모션 banner */
.new_2019.packContact{display:table;width:100%;margin:50px 0 60px;padding:20px 0;background:#fff;border-top:2px solid #c2af9a;border-bottom:2px solid #c2af9a;}
.new_2019.packContact > * {display:table-cell;box-sizing:border-box;vertical-align:top}
.new_2019.packContact .packTit{width:217px;padding:0 20px;text-align:center;vertical-align:middle}
.new_2019.packContact .packTit .pName{display:inline-block;padding-top:60px;background:url(../../images/ko/dongtan/specialoffers/bg_pack_tit.gif) 50% 15px no-repeat;color:#49423a;font-size:18px;line-height:28px;}
.new_2019.packContact .editBox{padding:5px 40px 7px;border-left:1px solid #eaeaea;}
.new_2019.packContact .editBox [class*="new-rw-txt"]{color:#333;font-size:14px;}
.new_2019.packContact .editBox .new-rw-txt1{}
.new_2019.packContact .editBox .new-rw-txt1 br{display:none;}
.new_2019.packContact .editBox .new-rw-notice1{text-indent:-9px;margin-top:15px;margin-left:11px;color:#727272;}
.new_2019.packContact .editBox .new-rw-btnbox{margin-top:15px;text-align:left;}
.new_2019.packContact .editBox .new-rw-btnbox a {display:inline-block;padding:2px 20px 0;color:#fff;line-height:25px;font-weight:bold;text-align:center;}
.new_2019.packContact .editBox .new-rw-btnbox a + a{margin-left:2px;}
.new_2019.packContact .editBox .new-rw-btnbox .new-rw-btn1{background:#66584b;color:#ede1cb;}
.new_2019.packContact .editBox .new-rw-btnbox .new-rw-btn2{background:#8f8272;}

/* 신라리워즈 프로모션 */
.new_2019.packProductDesc{margin:50px 0 60px;}
.new_2019.packProductDesc dl+dl{margin: 50px 0 60px;}
.new_2019.packProductDesc dt{font-size: 16px;font-weight: 700;margin-bottom: 17px;color: #343434;}
.new_2019.packProductDesc dd{color: #444;}
.new_2019.packProductDesc dd img {vertical-align: middle;}
.new_2019.packProductDesc .packProductList {overflow: hidden;line-height:initial;}
.new_2019.packProductDesc .packProductList li{float: left;margin-left: 26px;width: 420px;}
.new_2019.packProductDesc .packProductList li.first{margin-left: 0;}
.new_2019.packProductDesc .packProductWarn{line-height: 25px;padding-left: 2px;color: #444;margin: 15px 0 5px;}
.new_2019.packProductDesc>ul{overflow: hidden;}
.new_2019.packProductDesc>ul>li{float: left;margin-left: 26px;width: 420px;}
.new_2019.packProductDesc>ul>li.first{margin-left: 0;}
.new_2019.packProductDesc .descImg{line-height: 0;font-size: 0;margin-bottom: 10px;}
.new_2019.packProductDesc .descTxt{line-height: 25px;}
.new_2019.packProductDesc .detailBtnBox{display:block;margin-top:8px;}
.new_2019.packProductDesc .detailBtn{display:inline-block;padding:0 20px;background:#8f8272;color:#fff;line-height:27px;text-align:center;}



/* 취소 및 환불규정 */
.new_2019.tgMenu1{display:block;}
.new_2019.tgMenu1 .tab-list .tab-content.active{display:block;}
.new_2019.tgMenu1 .tab-list>li{border:1px solid #f4eee3;}
.new_2019.tgMenu1 .tab-list>li>a{display:block;position:relative;height:40px;padding:0 29px;background:#fdf8ef;border-bottom:0;color:#333;font-size:14px;font-weight:700;line-height:40px;}
.new_2019.tgMenu1 .tab-list>li>a:after{content:'';position:absolute;top:16px;right:20px;width:14px;height:8px;background:url(../../images/ko/dongtan/specialoffers/btn_arrow_tgl.png) 0 -16px no-repeat}
.new_2019.tgMenu1 .tab-list>li>a.on:after{background:url(../../images/ko/dongtan/specialoffers/btn_arrow_tgl.png) 0 0 no-repeat}
.new_2019.tgMenu1 .tab-content{display:none;padding:20px 30px;}
.new_2019 .noticeList1 li{color:#444;}
.new_2019 .noticeList1 li:before{display:inline-block;content:'※';margin-right:5px;}
.new_2019 .noticeList1 li + li{margin-top:8px;}

.new_2019.bbsTotal{margin-top:50px;}

/*ctnSpOffer*/
.ctnSpOffer .bbsTotal{ overflow:hidden; margin:0 0 40px 0; padding:0 0 15px 0; border-bottom:#a78f77 solid 3px;}
.ctnSpOffer .bbsTotal .count{ float:left;margin: 10px 0 0;color: #444;line-height: inherit;}
.ctnSpOffer .bbsTotal .tabMemCate{ float:right;}
.ctnSpOffer .bbsTotal .tabMemCate div.selector span{color: #666;}
.ctnSpOffer .tabMemCate li a.on{ font-weight:bold}
.ctnSpOffer .tabMemCate li.first a{ background:none;}
.ctnSpOffer .bbsTotal .new_2019{margin-top:10px;}

/*** 메인 예약 ***/
.new_rsvBox .hidden{position:absolute}
.mainVisual .new_rsvBox input[type="text"]::placeholder{color:#999;}
.mainVisual .new_rsvBox input[type="text"]::-webkit-input-placeholder{color:#999;}
.mainVisual .new_rsvBox input[type="text"]:-moz-placeholder{color:#999;}
.mainVisual .new_rsvBox input[type="text"]:-ms-input-placeholder{color:#999;}
.mainVisual .new_rsvBox input[placeholder], .new_rsvBox [placeholder], .new_rsvBox *[placeholder]{color:#999}
.new_rsvBox input[type=text]:-ms-clear{display:none;}
.new_rsvBox input[type=text]::-ms-clear{display:none;}

.mainVisual{background:none;height:720px;}
/*.mainVisual.hub, .mainVisual.hub .containSlides, .mainVisual.hub .slides{height:770px !important;}*/
.mainVisual.hub,.mainVisual.hub .containSlides{height:770px !important;}
.mainHubContent{padding-top:100px;}
.mainHubContent .specialOffer .sptitle{margin-top:0;}
.containSlides{height:720px !important;}

.containSlides .flex-direction-nav .flex-nav-prev a,.containSlides .flex-direction-nav .flex-nav-next a{margin-top:-80px;}
.containSlides .new_rsvBox{position:absolute;bottom:20px;left:50%;width:1200px;margin-left:-600px;z-index:10;background:#fff;}
.containSlides .new_rsvBox .rsvSchHotel{position:relative;height:100px;margin-bottom:0;padding:42px 0 0 0;border:0;box-sizing:border-box;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont dl dd{margin-top:5px;text-align:center}
.containSlides .new_rsvBox .rsvSchHotel:before{display:block;content:'';position:absolute;bottom:0;left:0;width:1002px;height:1px;background:#eaeaea;}
.containSlides .new_rsvBox .rsvSchHotel:after, .containSlides .new_rsvBox .rsvSchHotel .rsvSchCont dl:after{display:block;content:'';clear:both;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont{float:left;margin-right:0;vertical-align:top;box-sizing:border-box;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont dl{float:left;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont dl dt{height:20px;text-align:center}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont dl dt img{vertical-align:middle}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont dl dd a{display:inline-block;color:#333;font-weight:bold;font-size:16px;line-height:20px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch{width:300px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch dt{text-align:left;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap{position:relative;color:#333;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .inpHtSch[readonly], .containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .inpHtSch:disabled,.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .inpHtSch.disabled{background:none;color:#999}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .inpHtSch{width:165px;padding:0;border:none;font-size:16px;font-weight:bold;color:#333;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .inpHtSch:-ms-input-placeholder{color:#999;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .btnInpSch{display:inline-block;width:20px;height:20px;margin-left:25px;overflow:hidden;text-indent:-9999px;background:url(../../images/ko/common/new_2019/ico_htsearh.png) 50% 50% no-repeat;vertical-align:middle}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .btnDel{display:none;width:20px;height:20px;margin-left:25px;overflow:hidden;text-indent:-9999px;background:url(../../images/ko/common/new_2019/ico_htdel.png) 50% 50% no-repeat;vertical-align:middle}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch.SchWrite .htSchWrap .btnDel{display:inline-block;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch.SchWrite .htSchWrap .btnInpSch{display:none;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .more{position:absolute;left:90px;top:-23px;z-index:11}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .more .btnHtMore{display:block;width:30px;height:16px;background:url(../../images/ko/common/new_2019/bg_hotel_more.png) 0 0 no-repeat;color:#fff;font-weight:bold;text-align:center;line-height:17px;cursor:pointer;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .more .moreHt{display:none;position:absolute;top:auto;bottom:28px;left:2px;width:125px;padding:2px 14px 15px;background:#fff;border:1px solid #dcdcdc;border-radius:2px;box-sizing:border-box;z-index:2;/*box-shadow:2px 2px 10px #000;*/}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .more .btnHtMore:hover .moreHt{display:block;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .more .moreHt:before{display:inline-block;content:'';position:absolute;top:auto;bottom:-7px;left:-1px;width:6px;height:7px;background:url(../../images/ko/common/new_2019/bg_main_more.png)}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .more .moreHt span{display:block;margin-top:13px;color:#727272;font-size:11px;font-weight:normal;line-height:12px;text-align:left;}

.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .txtErr{position:absolute;left:0;top:auto;bottom:-35px;color:#a1896f;font-size:11px;text-align:left;}

.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htCheck{width:387px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htCheck dl{width:140px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htCheck .stay{width:85px;margin:0 5px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htCheck .stay dt{width:100%;background:url(../../images/ko/common/new_2019/ico_night.png) 50% 0 no-repeat;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htCheck .stay dd{color:#727272;font-size:16px;font-weight:bold;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htRoom{width:314px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htRoom dl:first-child{margin:0;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htRoom dl{width:56px;margin:0 0 0 30px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htRoom dl dd a{width:40px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.btnSearch{position:absolute;bottom:0;right:0;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.btnSearch a img{display:block;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont .btnQuestion{position:relative;display:inline-block;width:13px;height:13px;margin:0;background:url(../../images/ko/common/new_2019/ico_tooltip.png) no-repeat 0 0;vertical-align:middle;cursor:pointer;z-index:11;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont .btnQuestion .warnBalloonBox{display:none;position:absolute;top:auto;bottom:22px;left:0;min-width:95px;width:auto;padding:5px 13px 3px;border:1px solid #dcdcdc;background:#fff;border-radius:2px;box-sizing:border-box;color:#727272;font-size:11px;text-align:left;line-height:22px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont .btnQuestion .warnBalloonBox.on{display:inline-block;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont .btnQuestion .warnBalloonBox:after{display:block;content: '';position:absolute;bottom:auto;top:auto;bottom:-7px;left:-1px;width:6px;height:7px;background:url(../../images/ko/common/new_2019/bg_main_more.png) 0 0 no-repeat;}
.containSlides .new_rsvBox .ly_reserve{display:none;position:absolute;top:auto;bottom:100px;left:0;width:1200px;border:0;border-bottom: 1px solid #eaeaea;background:#fff;box-sizing:border-box;z-index:10}
.containSlides .new_rsvBox .ly_reserve.on{display:block;}
.containSlides .new_rsvBox .ly_reserve:after{content:'';display:block;clear:both;}
.containSlides .new_rsvBox .ly_reserve .btnList{padding:6px 0 27px;text-align:center}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox + .btnList{padding-top:30px;}
.containSlides .new_rsvBox .btnSubmit{display:inline-block;width:150px;height:44px;/*background:url(../../images/ko/common/new_2019/reserve_step1_ok.gif) 0 0 no-repeat;line-height:999;overflow:hidden*/}
/*.mainVisualHub .new_rsvBox .btnSubmit.disabled{background-image:url(../../images/ko/common/new_2019/reserve_step1_ok_disable.gif)}*/


/*호텔검색 레이어 > 좌측 */
.containSlides .new_rsvBox .htSearch .htChoice{width:903px;}
.containSlides .new_rsvBox .htBoxTop{position:relative;padding:24px 30px 0;border-bottom:1px solid #eaeaea;}
.containSlides .new_rsvBox .htBoxTop .htTab li{float:left;position:relative;}
.containSlides .new_rsvBox .htBoxTop .htTab li + li{margin-left:21px;padding-left:20px;}
.containSlides .new_rsvBox .htBoxTop .htTab li + li:before{display:block;content:'';position:absolute;left:0;top:0;width:1px;height:15px;background:#eaeaea;}
.containSlides .new_rsvBox .htBoxTop .htTab li a{display:inline-block;padding-bottom:17px;}
.containSlides .new_rsvBox .htBoxTop .htTab li a span{display:inline-block;height:15px;overflow:hidden;background:url(../../images/ko/common/new_2019/txt_hotel_search_tab.png) 0 0 no-repeat;text-indent:-9999px;}
.containSlides .new_rsvBox .htBoxTop .htTab li.tab1 span{width:57px;}
.containSlides .new_rsvBox .htBoxTop .htTab li.tab1.on span{background-position:-100px 0;}
.containSlides .new_rsvBox .htBoxTop .htTab li.tab2 span{width:42px;background-position:0 -20px;}
.containSlides .new_rsvBox .htBoxTop .htTab li.tab2.on span{background-position:-100px -20px;}
.containSlides .new_rsvBox .htBoxTop .htTab li.on a{border-bottom:2px solid #333;}
.containSlides .new_rsvBox .htBoxTop .noti2{position:absolute;top:26px;right:30px;width:121px;/*height:12px;*/}
.containSlides .new_rsvBox .htSearch .htBox{background:#fff;}
.containSlides .new_rsvBox .htBox{min-height:380px;box-sizing:border-box;text-align:left;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult{position:relative;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .scroll{height:370px;margin-top:20px;overflow:hidden;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .scroll .scrollCont{padding:10px 0 0 30px;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .noti{padding-bottom:30px;color:#727272;font-size:12px;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData{position:relative;margin:0 0 0 -6px}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData dl:first-child dt{margin-top:0;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData dl:after{content:'';display:block;clear:both;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData dt{margin:30px 0 6px 6px;font-size:14px;color:#333;font-weight:bold}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData dd a{display:inline-block;float:left;width:164px;margin:6px 0 0 6px;box-sizing:border-box;border:1px solid #dcdcdc;font-size:12px;color:#999;line-height:38px;text-align:center;font-weight:bold;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData dd a.on{border:2px solid #856f56;color:#856f56;line-height:36px;font-weight:bold;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData .contury{display:block;margin-left:5px;color:#856f56;}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData dl + .contury{margin-top:25px}
.containSlides .new_rsvBox .htBox .htChoice .htBoxResult .htData .contury + dl dt{margin-top:17px;}
.containSlides .new_rsvBox .htSearch .btnClear{position:absolute;right:325px;top:93px;}
.containSlides .new_rsvBox .htSearch .noData{height:327px;width:1140px;box-sizing:border-box}
.containSlides .new_rsvBox .htSearch .noData p{padding-top:107px;color:#856f56;font-size:16px;font-weight:bold;line-height:26px;text-align:center}
.containSlides .new_rsvBox .htSearch .noData p strong{color:#3e2b2f;font-weight:bold;}
.containSlides .new_rsvBox .htSearch .noti{color:#727272;}
.containSlides .new_rsvBox .htSearch .noti span{color:#333;font-weight:bold}


/*호텔검색 레이어 > 우측 */
.containSlides .new_rsvBox .htSearch .ckHotelInfo{position:absolute;top:94px;right:1px;width:236px;height:335px;padding:0 30px;background:url(../../images/ko/common/new_2019/bg_dot_line_vertical.png) 0 0 repeat-y;}
.containSlides .new_rsvBox .htBox .ckHotelInfo .ckHotel {min-height:164px;background:#fff url(../../images/ko/common/new_2019/bg_check_hotel_default.gif) 0 29px no-repeat}
.containSlides .new_rsvBox .htBox .ckHotelInfo .ckHotel{}
.containSlides .new_rsvBox .htBox .ckHotelInfo .ckHotel .tit{display:block;font-size:14px;margin-bottom:13px;}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox{position:relative;width:100%;}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox .flexslider{overflow:hidden;width:236px}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox .flexslider ul.slides{position:relative;left:auto;margin:0;width:5000px;height:auto;background:#fff;}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox .flexslider ul.slides:after{content:'';display:block;clear:both;}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox .flexslider ul.slides li{float:left;position:relative;width:236px;height:244px;background:#fff;}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox .flexslider ul.slides li img{width:236px;height:132px}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox .flexslider .hotelInfo{width:100%;padding:17px 0 0 0;color:#555;box-sizing:border-box;text-align:left;}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox .flexslider .hotelInfo strong{color:#333;}
.containSlides .new_rsvBox .htBox .ckHotelInfo .slideBox .flexslider .hotelInfo .adr{display:block;margin-top:8px;line-height:22px;}


/*호텔검색 레이어 > 우측 스와이프 버튼 */
.containSlides .new_rsvBox .ckHotelInfo .slideBox .ad-prev,
.containSlides .new_rsvBox .ckHotelInfo .slideBox .ad-next{position:absolute;top:49px;text-indent:-99999px;}
.containSlides .new_rsvBox .ckHotelInfo .slideBox .ad-prev{left:0;z-index:10;padding:10px;background:url("../../images/ko/common/new_2019/btn_htArrow_l_on.png") no-repeat 50%;}
.containSlides .new_rsvBox .ckHotelInfo .slideBox .ad-next{right:0;z-index:10;padding:10px;background:url("../../images/ko/common/new_2019/btn_htArrow_r_on.png") no-repeat 50%;}
.containSlides .new_rsvBox .ckHotelInfo .ckList{overflow:hidden;}
.containSlides .new_rsvBox .ckHotelInfo .ckList ul{margin-left:-16px;}
.containSlides .new_rsvBox .ckHotelInfo .ckList li{display:inline-block;position:relative;margin-left:9px;padding-left:9px;box-sizing:border-box}
.containSlides .new_rsvBox .ckHotelInfo .ckList li:before{position:absolute;top:6px;left:0;display:block;content:'';clear:both;width:1px;height:12px;background:#eaeaea;}
.containSlides .new_rsvBox .ckHotelInfo .ckList li a{height:23px;color:#999;font-size:11px;text-decoration:underline;letter-spacing:-0.05em;line-height:25px;text-align:center}
.containSlides .new_rsvBox .ckHotelInfo .ckList li.on{position:relative;z-index:1}
.containSlides .new_rsvBox .ckHotelInfo .ckList li.on a{color:#3e2a2c;font-weight:bold;}
.containSlides .new_rsvBox .ckHotelInfo .ckList:after{content:'';display:block;clear:both;}
.containSlides .new_rsvBox .btnBox{height:60px;background:#faf9f4;clear:both;}
.containSlides .new_rsvBox .btnBox:after{content:'';display:block;clear:both;}
.containSlides .new_rsvBox .btnBox a{display:inline-block;font-weight:bold}
.containSlides .new_rsvBox .btnBox .next{float:right;margin:0 30px 0 0;padding:0 30px 0 0;background:url("../../images/ko/common/new_2019/img_arrow_next.png") no-repeat 100% 50%;font-size:14px;color:#aaa59e;line-height:60px;}
.containSlides .new_rsvBox .btnBox .pre{float:left;margin:0 0 0 30px;padding:0 0 0 30px;background:url("../../images/ko/common/new_2019/img_arrow_pre.png") no-repeat 0 50%;font-size:14px;color:#aaa59e;line-height:60px;}
.containSlides .new_rsvBox .btnBox .next.on{background:url("../../images/ko/common/new_2019/img_arrow_next_on.png") no-repeat 100% 50%;color:#362311;}
.containSlides .new_rsvBox .btnBox .pre.on{background:url("../../images/ko/common/new_2019/img_arrow_pre_on.png") no-repeat 0 50%;color:#362311;}


/* 객실인원선택 레이어 */
.containSlides .new_rsvBox .r_number{padding:0 30px 30px}
.containSlides .new_rsvBox .r_number:after{content:'';display:block;clear:both;}
.containSlides .new_rsvBox .r_number .con{position:relative;height:69px;background:url(../../images/ko/common/new_2019/bg_dot_line.png) 0 100% repeat-x;box-sizing:border-box}
.containSlides .new_rsvBox .r_number .con:first-child{border-left:none;}
.containSlides .new_rsvBox .r_number .con dl{display:table;height:68px;}
.containSlides .new_rsvBox .r_number .con dl:after, .r_number .con dl ul:after, .r_number .con dl dd:after{display:block;content:'';clear:both}
.containSlides .new_rsvBox .r_number .con dl > *{display:table-cell;vertical-align:middle}
.containSlides .new_rsvBox .r_number .con dl dt{width:134px;padding:23px 0;color:#999;font-size:14px;font-weight:bold}
.containSlides .new_rsvBox .r_number .con dl dd{padding:20px 0}
.containSlides .new_rsvBox .r_number .con dl dd ul{display:none;}
.containSlides .new_rsvBox .r_number .con dl dd ul li{float:left;width:318px}
.containSlides .new_rsvBox .r_number .con dl dd li > *{float:left;color:#333}
.containSlides .new_rsvBox .r_number .con dl dd .tit{width:87px;font-size:14px;line-height:28px}
.containSlides .new_rsvBox .r_number .tit{color:#727272;font-weight:normal}
.containSlides .new_rsvBox .r_number .number:after{content:'';display:block;clear:both;}
.containSlides .new_rsvBox .r_number .number{width:129px;}
.containSlides .new_rsvBox .r_number .number .minus,
.containSlides .new_rsvBox .r_number .number .plus{display:inline-block;width:28px;height:28px;background:url(../../images/ko/common/new_2019/bg_numControl.png) no-repeat 0 0;text-indent:-99999px;}
.containSlides .new_rsvBox .r_number .number .minus{float:left;background-position:0 0;}
.containSlides .new_rsvBox .r_number .number .plus{float:right;background-position:-28px 0;}
.containSlides .new_rsvBox .r_number .number .minus.disabled{background-position:0 -28px}
.containSlides .new_rsvBox .r_number .number .plus.disabled{background-position:-28px -28px}
.containSlides .new_rsvBox .r_number .number .num{float:left;width:73px;height:28px;color:#333;font-size:14px;font-weight:bold;line-height:28px;text-align:center;}
.containSlides .new_rsvBox .r_number .rooms{position:absolute;right:30px;top:50%;margin-top:-8px;padding:0 !important}
.containSlides .new_rsvBox .r_number .rooms .btnRooms{display:none;box-sizing:border-box;padding-left:20px;background:url(../../images/ko/common/new_2019/btn_room_adddel.png) 0 1px no-repeat;color:#857051;font-size:12px;font-weight:bold;}
.containSlides .new_rsvBox .r_number .rooms [class*="add"]{padding-left:18px;background-position:0 -25px;}
.containSlides .new_rsvBox .r_number .rooms [class*="addRoom"]{padding-left:18px;background-position:0 -26px;}
.containSlides .new_rsvBox .r_number .room3 .rooms .add3{opacity:0.5;filter:alpha(opacity=0.5);}
.containSlides .new_rsvBox .r_number.addRoom2 .room3 .rooms .add3{opacity:1;filter:alpha(opacity=1);}
.containSlides .new_rsvBox .r_number .con.room1 dl dd ul, .containSlides .new_rsvBox .r_number.addRoom2 .con.room2 dl dd ul, .containSlides .new_rsvBox .r_number.addRoom2.addRoom3 .con.room3 dl dd ul,
.containSlides .new_rsvBox .r_number.addRoom2 .con.room2 .rooms .del2, .containSlides .new_rsvBox .r_number.addRoom2.addRoom3 .con.room3 .rooms .del3,
.containSlides .new_rsvBox .r_number.addRoom2 .con.room3 .rooms .add3, .containSlides .new_rsvBox .r_number .con .rooms [class*="add"]{display:block;}
.containSlides .new_rsvBox .r_number[class*="addRoom"] .con dl .rooms [class*="add"], .containSlides .new_rsvBox .r_number.addRoom2.addRoom3 .con.room3 .rooms .add3{display:none;}
.containSlides .new_rsvBox .r_number .con.room1 dl dt, .containSlides .new_rsvBox .r_number.addRoom2 .con.room2 dl dt, .r_number.addRoom2.addRoom3 .con.room3 dl dt{color:#333;}
.containSlides .new_rsvBox .r_number .notiList1 {margin:20px 0 0 0;}

/* 달력 레이어 */
.containSlides .new_rsvBox .new_rsvCal.rsvCalendarDate,
.containSlides .new_rsvBox .new_rsvCal.promotionCalendar {top:auto;width:100%;left:0;padding:0;border:1px solid #dcdcdc;box-sizing:border-box}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox{height:321px;margin:38px 0 0;padding:0 182px 0 193px;background:url(../../images/ko/common/new_2019/bg_dot_line_vertical.png) 50% 0 repeat-y;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox [class*="btnCal"]{position:absolute;top:182px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox [class*="btnCal"]:before{display:block;content:'';width:16px;height:30px;background:url(../../images/ko/common/new_2019/btn_arrow_cal.png) 0 0 no-repeat;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox [class*="btnCal"] span{position:absolute;left:-9999%;font-size:1px;line-height:1px;text-indent:-9999px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnCalPrev:before{left:50px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnCalNext:before{right:50px;background-position:100% 0;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnCalPrev{left:49px;font:bold 20px Arial;line-height:28px;padding:0;background:none;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnCalPrevDisable{font:bold 20px Arial;line-height:28px;color:#333;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnCalNext{right:49px;font:bold 20px Arial;line-height:28px;color:#333;padding:0;background:none;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnPrevDisable, .containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnNextDisable{position:absolute;top:182px;left:49px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnNextDisable{left:auto;right:49px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnPrevDisable:before, .containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnNextDisable:before{display:block;content:'';width:16px;height:30px;left:50px;background:url(../../images/ko/common/new_2019/btn_arrow_cal_disabled.png) no-repeat left 0}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnNextDisable:before{left:auto;right:50px;background:url(../../images/ko/common/new_2019/btn_arrow_cal_disabled.png) no-repeat right 0}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnNextDisable span, .containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnPrevDisable span{position:absolute;left:-9999px;text-indent:-9999px;font-size:1px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnNone{background:none;padding:0px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .btnNone span{font-size:0;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarNext + .btnNone{position:absolute;top:182px;right:50px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve{width:364px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve .datePrev,
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve .dateNext{position:relative;left:auto;top:auto;right:auto;padding:0 0 15px 20px;font:bold 16px Arial;color:#333}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table{border-spacing:0;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table th{padding:0 0 17px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td{padding:4px 0 3px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span{border:0;width:26px;height:20px;padding:11px 13px 5px;margin:-1px 0 0;font-size:14px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td:last-child span{margin-right:1px;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.rDate{border:0;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.rNoDate{border:0;background:none;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.selDate{position:relative;border:0;background:#ae906f;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.selDate.sd_first{background:url(../../images/ko/common/new_2019/bg_cal_start.png) 5px 50% no-repeat;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.selDate.sd_last{background:url(../../images/ko/common/new_2019/bg_cal_last.png) 100% 50% no-repeat;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td.sat span.selDate{background:url(../../images/ko/common/new_2019/bg_cal_sat.png) 100% 50% no-repeat}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td.sun span.selDate{background:url(../../images/ko/common/new_2019/bg_cal_sun.png) 0 50% no-repeat}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td.sat span.selDate.sd_first{background:url(../../images/ko/common/new_2019/bg_cal_start_s.png) 8px 50% no-repeat;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td.sun span.selDate.sd_first{background:url(../../images/ko/common/new_2019/bg_cal_start.png) 8px 50% no-repeat;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td.sat span.selDate.sd_last{background:url(../../images/ko/common/new_2019/bg_cal_last.png) -5px 50% no-repeat;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td.sun span.selDate.sd_last{background:url(../../images/ko/common/new_2019/bg_cal_last_s.png) 10px 50% no-repeat;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.selDate[class*='sd_'] a{color:#fff !important;font-weight:bold;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.selDate a{color:#fff;font-weight:bold;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table th span{background:none;color:#333;font-size:12px;font-weight:normal;line-height:21px;overflow:auto;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table th.sun span, .new_rsvCal .calendarRsvBox .calendarReserve table td.sun a{color:#cb5d5d !important}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.today{background:url(../../images/ko/common/new_2019/bg_cal_today.png) 50% 50% no-repeat}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.today a{color:#333;font-weight: bold}
/*.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.today:before{display:inline-block;content:'오늘';position:absolute;left:50%;top:-13px;margin-left:-12px;color:#727272;font-size:11px;}*/
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td span.today span.tTxt{display:block;position:absolute;top:-13px;left:0;width:100%;padding:0;height:auto;color:#727272;font-size:11px;font-weight:bold;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td a{ display:block;font:normal 14px Arial, Dotum,'돋움',sans-serif;color: #666;}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve table td strong.txt{position:absolute;top:-12px;left:0;width:100%;font-size:11px;color:#7a716d;letter-spacing:-2px}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve .tip{display:none;position:absolute;top:0;left:0;width:34px;padding:3px 0 2px;border:1px solid #856f56;border-radius:2px;background:#fff;color:#856f56;font-size:11px;font-weight:bold;text-align:center;z-index:2}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox .calendarReserve .tip:after{display:block;content:'';position:absolute;bottom:-4px;left:50%;width:7px;height:4px;margin-left:-3px;background:url(../../images/ko/common/new_2019/bg_calendar_tip.png) 0 0 no-repeat}
.containSlides .new_rsvBox .new_rsvCal .calendarRsvBox + .btnList{padding-top:30px;}

.containSlides .new_rsvBox .maskDiv_wddo{display:none;overflow:hidden;position:absolute;top:59px;left:0;right:0;padding:0 0;border:1px solid #ccc;background:#fff;box-sizing:content-box;box-shadow:rgba(0,0,0,0.1) 5px 10px 15px;z-index:1}
.containSlides .new_rsvBox .jspContainer{overflow:hidden;position:relative}
.containSlides .new_rsvBox .jspPane{position:absolute;left:0 !important}
.containSlides .new_rsvBox .jspVerticalBar{position:absolute;top:10px;bottom:10px;right:5px;width:3px;background:#f4f0ed;border-radius:3px}
.containSlides .new_rsvBox .jspTrack{position:relative}
.containSlides .new_rsvBox .jspDrag{position:relative;left:0px;cursor:pointer;background:#bcaea3;border-radius:3px}
.containSlides .new_rsvBox .jspCapTop{height:0}
.containSlides .new_rsvBox .jspCapBottom{height:0}

/*.mainHubContent{padding-top:100px;}*/

/* header > 호텔찾기 */
.tempBox{z-index:19;}
.head .header .hotelBox_wrap{ position:absolute; left:0px; top:0 !important;  width:87px !important; height:39px !important; background:#fff url(../../images/ko/common/new_2019/main_hotelsrc.png) no-repeat 0 0 !important; z-index:20; border:0; background-size: 100%;}
.head .header .hotelBox_wrap.on{ background:#fff url(../../images/ko/common/new_2019/main_hotelsrc.png) no-repeat 0 0 !important; border:0;background-size: 100%;}
.head .header .hotelBox_wrap .btn{ display:inline-block; position:relative; z-index:5;width: 100%; font-size:12px; height:51px; font-weight: bold; color: #5d4930; text-indent:-9999%; overflow:hidden;}

.head .header .hotelBox_wrap.hub{ position:absolute; left:0px; top:39px !important;  width:111px !important; height:51px !important; background:#ebe7e3 url(../../images/common/main_hotelsrc_hub.png) no-repeat 0 0 !important; z-index:20; border:0px;}
.head .header .hotelBox_wrap.hub.on{background: url(../../images/ko/common/new_2019/main_hotelsrc_hub.png) no-repeat 0px 0px !important;}
.head .header .hotelBox_wrap.hub.on .btn:after{position: absolute;bottom: 0;left: 0;z-index:10;content: '';display: inline-block;width:100%;height: 4px !important;background: #3b3b3a;}

.hotelBox_N{display:none;position:fixed;top:50%;left:50%;width:984px;min-height:525px;z-index:1002;background:#fff; transform: translate(-50.1%,-49.1%); -webkit-transform: translate(-50.1%,-49.1%); -moz-transform: translate(-50.1%,-49.1%);}
.hotelBox_N .btnClose{position:absolute;top:22px;right:20px;width:17px;height:17px;background:url(../../images/ko/common/new_2019/main_layerClose.png) 0 0 no-repeat;text-indent:-9999px;}

.hotelBox_N .hHead{height:37px;padding:23px 0 0 40px;background:#f7f7f7;}			
.hotelBox_N .hHead .htTab:after{content:'';display:block;clear:both;}
.hotelBox_N .hHead .htTab li{float:left;position:relative;}
.hotelBox_N .hHead .htTab li + li{margin-left:21px;padding-left:20px;}
.hotelBox_N .hHead .htTab li + li:before{display:block;content:'';position:absolute;left:0;top:0;width:1px;height:15px;background:#eaeaea;}
.hotelBox_N .hHead .htTab li a{display:inline-block;padding-bottom:14px;}
.hotelBox_N .hHead .htTab li a span{display:inline-block;height:15px;overflow:hidden;background:url(../../images/ko/common/new_2019/txt_hotel_search_tab.png) 0 0 no-repeat;text-indent:-9999px;}
.hotelBox_N .hHead .htTab li.tab1 span{width:57px;}
.hotelBox_N .hHead .htTab li.tab1.on span{background-position:-100px 0;}
.hotelBox_N .hHead .htTab li.tab2 span{width:42px;background-position:0 -20px;}
.hotelBox_N .hHead .htTab li.tab2.on span{background-position:-100px -20px;}
.hotelBox_N .hHead .htTab li.on a{border-bottom:2px solid #333;}
.hotelBox_N .hCon{padding:5px 40px 0;}
.hotelBox_N .hCon dl{position:relative;padding-left:150px;border-top:1px dotted #eaeaea;}
.hotelBox_N .hCon dl:first-child{border-top:0;}
.hotelBox_N .hCon dl dt{position:absolute;top:38px;left:0;}
.hotelBox_N .hCon .list1 dl dt{position:absolute;top:34px;left:0;}
.hotelBox_N .hCon .list1 dl:nth-child(2) dt{position:absolute;top:30px;left:0;}
.hotelBox_N .hCon dl dd{padding:25px 0 19px;box-sizing:border-box;}
.hotelBox_N .hCon ul li{display:inline-block;margin:0 0 6px 2px;}
.hotelBox_N .hCon ul li a{display:inline-block;position:relative;width:196px;border:1px solid #eaeaea;line-height:36px;text-align:center;letter-spacing:-1px;color:#999;font-weight: bold;}
.hotelBox_N .hCon ul li a:hover{color:#856f56;font-weight:bold;}
.hotelBox_N .hCon ul li a:hover:before{content:'';display:block;position:absolute;top:-1px;left:-1px;width:195px;height:35px;border:2px solid #856f56;}
.hotelBox_N .hCon ul li .monoWidth{width: 280px;}
.hotelBox_N .hCon ul li .monoWidth:hover:before{width: 280px;}
.hotelBox_N .hCon .list1 dl{padding-left:293px;}
.hotelBox_N .hCon .list2 dd{border-top:1px dotted #eaeaea;}
.hotelBox_N .hCon .list2 dt+dd{border-top:0;}
.hotelBox_N .hCon .list2 dd:first-child{border-top:0;}
.hotelBox_N .hCon .list2 dd:after{content:'';display:block;clear:both;}
.hotelBox_N .hCon .list2 dd .tit{float:left;width:140px;padding-top:15px;}
.hotelBox_N .hCon .list2 dd ul{float:left;width:612px;}

/* 메인 예약바 */
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch{width: 240px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .inpHtSch{width: 215px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .btnInpSch{margin-left: 0px;}
.containSlides .new_rsvBox .rsvSchHotel .rsvSchCont.htSch .htSchWrap .btnDel{margin-left: 0px;}
