<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     ">
                     

<bean class="controller.main.mainController" />
<bean class="controller.care.manager.cleanManagerMainController"/>


<bean class="controller.main.shopMainController" />
<bean class="controller.main.careMainController"/>
<bean class="controller.main.stayMainController"/>

</beans>