<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="furnitureMapper">
<cache />
<sql id="basecolumn">
	furniture_no,furniture_photo,furniture_color,furniture_type,furniture_point,furniture_buydate,furniture_state,furniture_score,
	furniture_rentalfee,furniture_usage,funiture_name
</sql>

<insert id="furnitureInsert" parameterType="Model.DTO.FurnitureDTO">
	insert into furniture(<include refid="basecolumn" />)
	values(#{furnitureNo},#{furniturePhoto},#{furnitureColor},#{furnitureType},#{furniturePoint},#{furnitureBuydate}
	,'사용대기',0,#{furnitureRentalFee},#{furnitureUsage},#{furnitureName})
	
</insert>

<resultMap type="Model.DTO.FurnitureDTO" id="furnitures">
	<id column="furniture_no" jdbcType="VARCHAR" property="furnitureNo" />
	<result column="furniture_photo" jdbcType="VARCHAR" property="furniturePhoto" />
	<result column="furniture_color" jdbcType="VARCHAR" property="furnitureColor" />
	<result column="furniture_type" jdbcType="VARCHAR"  property="furnitureType" />
	<result column="furniture_point" jdbcType="VARCHAR"  property="furniturePoint" />
	<result column="furniture_buydate" jdbcType="VARCHAR"  property="furnitureBuydate" />
	<result column="furniture_state" jdbcType="VARCHAR"  property="furnitureState" />
	<result column="furniture_score" jdbcType="BIGINT"  property="furnitureScore" />
	<result column="furniture_rentalfee" jdbcType="BIGINT"  property="furnitureRentalFee" />
	<result column="furniture_usage" jdbcType="VARCHAR"  property="furnitureUsage" />
	<result column="funiture_name" jdbcType="VARCHAR"  property="furnitureName" />
	
</resultMap>

<select id="furnitureList" resultMap="furnitures">
select <include refid="basecolumn" /> from furniture
</select>

<select id="selectType" resultMap="furnitures" parameterType="string">
select * from furniture where furniture_type= #{furnitureType}
</select>

<select id="oneSelect" resultMap="furnitures" parameterType="string">
select * from furniture where furniture_no = #{furnitureNo}
</select>

<select id="searchSelect" resultMap="furnitures" parameterType="Model.DTO.SearchDTO">
select * from furniture where funiture_name Like '%'||#{content}||'%' and furniture_type =#{type}
</select>

<insert id="wishInsert" parameterType="Model.DTO.FurnitureWishDTO">
insert into furnitureWish(user_no,furniture_no) values(#{userNo},#{furnitureNo})
</insert>

<select id="fDateChk" parameterType="Model.DTO.TimeCheckDTO" resultMap="furnitures">
select * from furniture where  furniture_no NOT IN
(select furniture_no from furniturerev where #{start} between furniturerev_startdate and furniturerev_enddate or #{end} between furniturerev_startdate and furniturerev_enddate)
</select>

<select id="getNo" parameterType="string" resultType="string">
select  distinct(furniture_no) from furniturewish where user_no=#{userNo} order by furniture_no
</select>

<select id="getPrice" parameterType="string" resultType="integer">
select furniture_rentalfee from furniture where furniture_no = #{furnitureNo}
</select>

<update id="stateChange" parameterType="string">
update furniture set furniture_state='사용중' where furniture_no=#{fNo}

</update>


</mapper>