<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="productMapper">
<cache />

<sql id="basecolumn">
	PRODUCT_NO, PRODUCT_NAME, PRODUCT_TYPE, PRODUCT_DETAILTYPE, PRODUCT_PHOTO, PRODUCT_PRICE, PRODUCT_COUNT,
	PRODUCT_USEDATE
</sql>

<resultMap type="pro" id="ProMap">
		<id column="PRODUCT_NO" jdbcType="VARCHAR" property="productNo"/>
		<result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName"/>
		<result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType"/>
		<result column="PRODUCT_DETAILTYPE" jdbcType="VARCHAR" property="productDetailtype"/>
		<result column="PRODUCT_PHOTO" jdbcType="VARCHAR" property="productPhoto"/>
		<result column="PRODUCT_PRICE" jdbcType="BIGINT" property="productPrice"/>
		<result column="PRODUCT_COUNT" jdbcType="BIGINT" property="productCount"/>
		<result column="PRODUCT_USEDATE" jdbcType="TIMESTAMP" property="productUsedate"/>
</resultMap>

<resultMap type="Model.DTO.MemberDTO" id="memMap">
		<id column="USER_NO" jdbcType="VARCHAR" property="userNo"/>
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="USER_PW" jdbcType="VARCHAR" property="userPw" />
		<result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
		<result column="USER_PH" jdbcType="VARCHAR" property="userPh" />
		<result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
		<result column="USER_ADDR" jdbcType="VARCHAR" property="userAddr" />
		<result column="USER_ZONE" jdbcType="VARCHAR" property="userZone" />
		<result column="USER_GENDER" jdbcType="VARCHAR" property="userGender" />
		<result column="USER_BIRTH" jdbcType="DATE" property="userBirth" />
		<result column="USER_REGIST" jdbcType="TIMESTAMP" property="userResist" />
		<result column="CONNECT_DATE" jdbcType="TIMESTAMP" property="connectDate" />
		<result column="ROLE" jdbcType="VARCHAR" property="role" />	
</resultMap>

<insert id="insertProduct" parameterType="pro">
	insert into product(<include refid="basecolumn" />)
	 values (productSeq.nextval, #{productName,jdbcType=VARCHAR},#{productType,jdbcType=VARCHAR},
	 #{productDetailtype,jdbcType=VARCHAR},#{productPhoto,jdbcType=VARCHAR},
	 #{productPrice,jdbcType=BIGINT},#{productCount,jdbcType=BIGINT},#{productUsedate,jdbcType=TIMESTAMP})
</insert>

<select id="selectPro" parameterType="pro" resultMap="ProMap">
	select <include refid="basecolumn" /> from product
</select>

<select id="detailPro" resultMap="ProMap" parameterType="string">
select * from product where product_no = #{productNo}
</select> 

<resultMap type="Model.DTO.CartDTO" id="cart">
		<id column="user_no" jdbcType="VARCHAR" property="userNo" />
		<id  column="product_no" jdbcType="VARCHAR" property="productNo" />
		<result  column="basket_amount" jdbcType="INTEGER" property="basketAmount" />
</resultMap>

<insert id="cartInsert" parameterType="Model.DTO.CartDTO">
	insert into basket
	values(#{basketAmount,jdbcType=INTEGER},#{productNo},#{userNo})
</insert>

<select id="selectNum" parameterType="string" resultType="string" >
select product_no from basket where user_no =#{userNo}
</select>

<select id="selectCart" parameterType="String" resultMap="cart" >
select basket_amount, product_no, user_no from basket where user_no = #{userNo}
</select>


</mapper>