<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="productMapper">
<cache />

<sql id="basecolumn">
	PRODUCT_NO, PRODUCT_NAME, PRODUCT_TYPE, PRODUCT_DETAILTYPE, PRODUCT_PHOTO, PRODUCT_PRICE, PRODUCT_COUNT,
	PRODUCT_USEDATE
</sql>

<resultMap type="pro" id="ProMap">
		<id column="PRODUCT_NO" jdbcType="VARCHAR" property="productNo"/>
		<result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName"/>
		<result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType"/>
		<result column="PRODUCT_DETAILTYPE" jdbcType="VARCHAR" property="productDetailtype"/>
		<result column="PRODUCT_PHOTO" jdbcType="VARCHAR" property="productPhoto"/>
		<result column="PRODUCT_PRICE" jdbcType="BIGINT" property="productPrice"/>
		<result column="PRODUCT_COUNT" jdbcType="BIGINT" property="productCount"/>
		<result column="PRODUCT_USEDATE" jdbcType="TIMESTAMP" property="productUsedate"/>
</resultMap>

<resultMap type="Model.DTO.MemberDTO" id="memMap">
		<id column="USER_NO" jdbcType="VARCHAR" property="userNo"/>
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="USER_PW" jdbcType="VARCHAR" property="userPw" />
		<result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
		<result column="USER_PH" jdbcType="VARCHAR" property="userPh" />
		<result column="USER_EMAIL" jdbcType="VARCHAR" property="userEmail" />
		<result column="USER_ADDR" jdbcType="VARCHAR" property="userAddr" />
		<result column="USER_ZONE" jdbcType="VARCHAR" property="userZone" />
		<result column="USER_GENDER" jdbcType="VARCHAR" property="userGender" />
		<result column="USER_BIRTH" jdbcType="DATE" property="userBirth" />
		<result column="USER_REGIST" jdbcType="TIMESTAMP" property="userResist" />
		<result column="CONNECT_DATE" jdbcType="TIMESTAMP" property="connectDate" />
		<result column="ROLE" jdbcType="VARCHAR" property="role" />	
</resultMap>

<insert id="insertProduct" parameterType="pro">
	insert into product(<include refid="basecolumn" />)
	 values (productSeq.nextval, #{productName,jdbcType=VARCHAR},#{productType,jdbcType=VARCHAR},
	 #{productDetailtype,jdbcType=VARCHAR},#{productPhoto,jdbcType=VARCHAR},
	 #{productPrice,jdbcType=BIGINT},#{productCount,jdbcType=BIGINT},#{productUsedate,jdbcType=TIMESTAMP})
</insert>

<select id="selectPro" parameterType="pro" resultMap="ProMap">
	select <include refid="basecolumn" /> from product
</select>

<select id="detailPro" resultMap="ProMap" parameterType="string">
select * from product where product_no = #{productNo}
</select> 

<sql id="cartColumn">
	USER_NO, PRODUCT_NO, BASKET_AMOUNT, PRODUCT_NAME, PRODUCT_PHOTO, PRODUCT_PRICE
</sql>

<resultMap type="Model.DTO.CartDTO" id="cart">
		<id column="user_no" jdbcType="VARCHAR" property="userNo" />
		<result  column="product_no" jdbcType="VARCHAR" property="productNo" />
		<result  column="basket_amount" jdbcType="INTEGER" property="basketAmount" />
		<result  column="product_name" jdbcType="VARCHAR" property="productName" />
		<result  column="product_photo" jdbcType="VARCHAR" property="productPhoto" />
		<result  column="product_price" jdbcType="INTEGER" property="productPrice" />
</resultMap>

<insert id="cartInsert" parameterType="Model.DTO.CartDTO">
	insert into cart (<include refid="cartColumn" />)
	values(#{userNo,jdbcType=VARCHAR},#{productNo,jdbcType=VARCHAR},#{basketAmount,jdbcType=INTEGER},
	#{productName,jdbcType=VARCHAR},#{productPhoto,jdbcType=VARCHAR},#{productPrice,jdbcType=INTEGER})
</insert>

<select id="selectNum" parameterType="string" resultType="string" >
select product_no from cart where user_no = #{userNo}
</select>

<select id="selectCart" parameterType="String" resultMap="cart" >
select <include refid="cartColumn" />
from cart where user_no = #{userNo}
</select>

<insert id="orderInfo">
	insert into ordershop
	(order_no, user_no, order_rec, USER_ADDR, USER_ZONE, USER_PH, amount)
	values (#{orderNo},#{userNo},#{orderRec},#{userAddr},#{userZone},#{userPh},#{amount})
</insert>

<insert id="orderInfoDetail">
	insert into ordershop_details (order_details_num, order_no, gds_num, cart_stock)
		select order_details_seq.nextval, #{orderNo}, product_no, basket_amount from cart
</insert>

<delete id="cartAllDelete">
	delete cart
		where user_no = #{userNo}
</delete>

<resultMap type="command.shop.OrdershopCMD" id="order">
		<id column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result  column="user_no" jdbcType="VARCHAR" property="userNo" />
		<result  column="order_rec" jdbcType="VARCHAR" property="orderRec" />
		<result  column="user_addr" jdbcType="VARCHAR" property="userAddr" />
		<result  column="user_ph" jdbcType="VARCHAR" property="userPh" />
		<result  column="amount" jdbcType="INTEGER" property="amount" />
		<result  column="order_date" jdbcType="DATE" property="orderDate" />
</resultMap>

<resultMap type="command.shop.OrderListVO" id="orderList">
		<id column="order_no" jdbcType="VARCHAR" property="orderNo" />
		<result  column="user_no" jdbcType="VARCHAR" property="userNo" />
		<result  column="order_rec" jdbcType="VARCHAR" property="orderRec" />
		<result  column="user_addr" jdbcType="VARCHAR" property="userAddr" />
		<result  column="user_ph" jdbcType="VARCHAR" property="userPh" />
		<result  column="amount" jdbcType="INTEGER" property="amount" />
		<result  column="order_date" jdbcType="DATE" property="orderDate" />
		<result  column="order_details_num" jdbcType="INTEGER" property="orderDetailsNum" />
		<result  column="gds_num" jdbcType="INTEGER" property="gdsNum" />
		<result  column="cart_stock" jdbcType="INTEGER" property="cartStock" />
		<result  column="product_name" jdbcType="VARCHAR" property="productName" />
		<result  column="product_photo" jdbcType="VARCHAR" property="productPhoto" />
		<result  column="product_price" jdbcType="INTEGER" property="productPrice" />
</resultMap>

<!-- 특정 유저의 주문 목록 -->
<select id="orderList" resultType="command.shop.OrdershopCMD" resultMap="order" parameterType="String">
	select 
		order_no, user_no, order_rec, user_addr, user_ph, amount, order_date
	from ordershop
		where user_no = #{userNo}
</select>

<select id="orderView" resultType="command.shop.OrderListVO" resultMap="orderList">
 select
     o.order_no, o.user_no, o.order_rec, o.user_addr,o.user_zone, o.amount, o.order_date,
     d.order_details_num, d.gds_num, d.cart_stock,
     g.product_name, g.product_photo, g.product_price
 from ordershop o
         inner join ORDERSHOP_DETAILS d
             on o.order_no = d.order_no
         inner join product g
             on d.gds_num = g.product_no
     where o.user_no = #{userNo}
         and o.order_no = #{orderNo}
</select>


</mapper>