<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="productMapper">
<cache />

<sql id="basecolumn">
	PRODUCT_NO, PRODUCT_NAME, PRODUCT_TYPE, PRODUCT_DETAILTYPE, PRODUCT_PHOTO, PRODUCT_PRICE, PRODUCT_COUNT,
	PRODUCT_USEDATE
</sql>

<resultMap type="pro" id="ProMap">
		<id column="PRODUCT_NO" jdbcType="VARCHAR" property="productNo"/>
		<result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName"/>
		<result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType"/>
		<result column="PRODUCT_DETAILTYPE" jdbcType="VARCHAR" property="productDetailtype"/>
		<result column="PRODUCT_PHOTO" jdbcType="VARCHAR" property="productPhoto"/>
		<result column="PRODUCT_PRICE" jdbcType="BIGINT" property="productPrice"/>
		<result column="PRODUCT_COUNT" jdbcType="BIGINT" property="productCount"/>
		<result column="PRODUCT_USEDATE" jdbcType="TIMESTAMP" property="productUsedate"/>
</resultMap>

<insert id="insertProduct" parameterType="pro">
	insert into product(<include refid="basecolumn" />)
	 values (productSeq.nextval, #{productName,jdbcType=VARCHAR},#{productType,jdbcType=VARCHAR},
	 #{productDetailtype,jdbcType=VARCHAR},#{productPhoto,jdbcType=VARCHAR},
	 #{productPrice,jdbcType=BIGINT},#{productCount,jdbcType=BIGINT},#{productUsedate,jdbcType=TIMESTAMP})
</insert>

<select id="selectPro" parameterType="pro" resultMap="ProMap">
	select <include refid="basecolumn" /> from product
</select>

<select id="detailPro" resultMap="ProMap" parameterType="string">
select * from product where product_no = #{productNo}
</select>

<insert id="cartInsert" parameterType="Model.DTO.CartDTO">
	<selectKey keyProperty="cartNo" resultType="int" order="BEFORE">
		select cart_seq.nextval FROM dual
	</selectKey>
	
	insert into basket
	values(#{cartNo}, #{productNo}, #{basketAmount}, #{userNo})
</insert>


</mapper>