<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="revMapper">
<cache />
<sql id="basecolumn">
	ROOMREV_NO,USER_NO,ROOM_NO,ROOMREV_REVNAME,ROOMREV_LIVEUSER,ROOMREV_STARTDATE,
	ROOMREV_ENDDATE,ROOMREV_STATE,ROOMREV_PRICE,ROOMREV_PH,ROOMREV_EMAIL
</sql>

<resultMap type="Model.DTO.RoomRevDTO" id="roomRev">
	<id column="ROOMREV_NO" jdbcType="VARCHAR" property="roomRevNo" />
	<result column="USER_NO" jdbcType="VARCHAR" property="userNo" />
	<result column="ROOM_NO" jdbcType="VARCHAR" property="roomNo" />
	<result column="ROOMREV_REVNAME" jdbcType="VARCHAR" property="roomRevName" />
	<result column="ROOMREV_LIVEUSER" jdbcType="VARCHAR" property="roomLiveName" />
	<result column="ROOMREV_STARTDATE" jdbcType="TIMESTAMP" property="roomRevStartDate" />
	<result column="ROOMREV_ENDDATE" jdbcType="TIMESTAMP" property="roomRevEndDate" />
	<result column="ROOMREV_STATE" jdbcType="VARCHAR" property="roomRevState" />
	<result column="ROOMREV_PRICE" jdbcType="BIGINT" property="roomRevPrice" />
	<result column="ROOMREV_PH" jdbcType="VARCHAR" property="roomRevPh" />
	<result column="ROOMREV_EMAIL" jdbcType="VARCHAR" property="roomRevEmail" />
	
</resultMap>

<resultMap type="Model.DTO.FurnitureRevDTO" id="furnitureRev">
	<id column="furniturerev_no" jdbcType="VARCHAR" property="furnitureRevNo" />
	<result column="roomrev_no" jdbcType="VARCHAR" property="roomRevNo" />
	<result column="user_no" jdbcType="VARCHAR" property="userNo" />
	<result column="room_no" jdbcType="VARCHAR" property="roomNo" />
	<result column="furniturerev_startdate" jdbcType="TIMESTAMP" property="furnitureRevStartDate" />
	<result column="furniturerev_enddate" jdbcType="TIMESTAMP" property="furnitureRevEndDate" />
	<result column="furniture_no" jdbcType="VARCHAR" property="furnitureNo" />
</resultMap>






<insert id="roomRevInsert" parameterType="Model.DTO.RoomRevDTO">
	insert into roomrev(<include refid="basecolumn" />)	
	values(roomrev_seq.nextval,#{userNo},#{roomNo},#{roomRevName},#{roomLiveName},
	#{roomRevStartDate},#{roomRevEndDate},'사용대기',#{roomRevPrice},#{roomRevPh},#{roomRevEmail})
</insert>


<select id="selectRevList" resultMap="roomRev" parameterType="string">
	select ROOMREV_NO,USER_NO,ROOM_NO,ROOMREV_REVNAME,ROOMREV_LIVEUSER,ROOMREV_STARTDATE,
	to_timestamp(ROOMREV_ENDDATE +1) AS ROOMREV_ENDDATE,ROOMREV_STATE,ROOMREV_PRICE,ROOMREV_PH,ROOMREV_EMAIL from roomrev where room_no = #{roomNo}
</select>

<select id="selectfRevList" resultMap="furnitureRev" parameterType="string">
	select furniturerev_no,roomrev_no,user_no,room_no,furniturerev_startdate,to_timestamp(furniturerev_enddate+1) as furniturerev_enddate,furniture_no from furniturerev where
	
</select>


<select id="revChk" resultMap="roomRev" parameterType="string">
select * from roomrev where roomrev_no=(select max(roomrev_no) from roomrev where user_no=#{userNo}) 
</select>

<select id="userRev" resultMap="roomRev" parameterType="string">
select * from roomrev where user_no = #{userNo}
</select>

<select id="oneRev" resultMap="roomRev" parameterType="string" >
select * from roomrev where ROOMREV_NO = #{revNum}
</select>

<insert id="makeSeq">
insert into makeSeq values (furniturerev_seq.nextval)
</insert>

<select id="selectSeq" resultType="string">
select max(furniture_no) from makeSeq
</select>

<insert id="frevInsert" parameterType="Model.DTO.FurnitureRevDTO">
insert into furniturerev(furniturerev_no,roomrev_no,user_no,room_no,furniturerev_startdate,furniturerev_enddate,furniture_no)
values(#{furnitureRevNo},#{roomRevNo},#{userNo},#{roomNo},#{furnitureRevStartDate},#{furnitureRevEndDate},#{furnitureNo})
</insert>


</mapper>