/* CSS findhotel */

.container .findHotelHub{overflow:hidden;}
.findHotelHub .headTit{ position:relative; z-index:8; height:47px; border-bottom:#484343 solid 5px;}
.findHotelHub .headTit .tit{ float:left; width:430px; height:37px;overflow:hidden;}
.findHotelHub .location{ float:right; height:20px; padding:9px 0 0 0; margin:0 0 -30px 0; overflow:hidden; z-index:9; position:relative;}
.findHotelHub .location .list{display:block; font-size:11px; background:url(../../images/ko/dongtan/main/locaton.gif) no-repeat 0 1px; line-height:12px; padding:0 0 0 17px;}
.findHotelHub .location .list strong{ color:#000 ; font-weight:normal;}
.findHotelHub .location .list .crPosit{ position:absolute; left:-9999%;}

.findHotelHub .findHotelCon{position:relative;overflow:hidden;padding-top:40px;zoom:1}
.findHotelCon .hotelListLeft{float:left;}
.tabFindHotel{overflow:hidden;margin-bottom:40px;}
.tabFindHotel>li{float:left;height:36px;}
.tabFindHotel>li>a{display:inline-block;width:116px;height:36px;background:url(../../images/ko/hub/findHotel/sp_tabTitle.gif) no-repeat 0 -36px;text-indent:-9999px;overflow:hidden;}
.tabFindHotel .first.on a{background-position: 0 0}
.tabFindHotel .last a{background-position: -116px -36px}
.tabFindHotel .last.on a{background-position: -116px 0}
.stayList>li{line-height:0;margin-bottom:25px;}
.stayList>li>ul{margin-top:9px;}
.stayList>li>ul>li+li{margin-top:5px;}
.stayList>li>ul>li.on a{background:#77726e;color: #fff}
.stayList a{display:block;height:23px;line-height:23px;color: #5f5a5a;padding-left:10px;}
.findHotelCon .hotelMap{position:relative;float:right;width:908px;height:710px;}
.find-tooltip{display:table;width:530px;min-height:170px;background:#fff;}
.find-tooltip .infoImg{display:table-cell;width:170px;vertical-align:middle;font-size: 0;}
.find-tooltip .infoCon{display:table-cell;/* width:268px; */vertical-align:top;padding:16px 20px;min-height:130px;}
.find-tooltip .infoCon .t-head{font-size:14px;padding:0 30px 10px 0;margin-bottom:20px;border-bottom:1px solid #ebe7e3;color: #000;}
/* .find-tooltip:before{posit`ion:absolute;bottom:-21px;left:50%;margin-left:-9px;content: '';display:block;background: url(../../images/ko/hub/findHotel/bg_tooltip_arrow.png) no-repeat 0 0;width:18px;height:21px; }*/
.find-tooltip:after{content:'';display:block;clear: both;}
.find-tooltip .infoCon .t-content{position:relative;}
.t-infolist .old-adr{display:block;padding-left:20px;}
.t-infolist .ico-tooltip{vertical-align:middle;padding-left:25px;text-indent:-25px;word-break: keep-all;}
.t-infolist .ico-tooltip:before{content:'';display:inline-block;width:14px;height:17px;background: url(../../images/ko/hub/findHotel/ico_tooltip.png) no-repeat 0 0;vertical-align: middle;margin-right:10px;}
.t-infolist .ico-tooltip.ico01:before{background-position: 0 0;}
.t-infolist .ico-tooltip.ico02{margin-top:14px;}
.t-infolist .ico-tooltip.ico02:before{width:15px;height:15px;background-position: 0 -25px;}
.t-infolist .old-adr1{display:block;padding-left:20px;line-height:1;margin-top:8px;color:#757575;line-height:18px;}
.t-infolist .old-adr2{word-break: keep-all;font-size:11px;}
.t-infolist .old-adr1 em{display:inline-block;min-width:28px;height:16px;line-height:15px;text-align:center;font-size: 11px;border:1px solid #d9d9d9;margin:-1px 7px 0 0;color:#919191;border-radius: 2px;vertical-align:middle;padding: 0 3px;}
.t-infolist li.last{margin-top:18px;}
.t-infolist .first,.t-infolist .last{color: #000}
.btn-home{position:absolute;bottom:0;right:0;display:inline-block;width:33px;height:27px;background: url(../../images/ko/hub/findHotel/btn_home.png) no-repeat 0 0;overflow:hidden;text-indent:-9999px;}
.btn-close-tooltip{position:absolute;top:20px;right:20px;display:inline-block;width:11px;height:11px;background: url(../../images/ko/hub/findHotel/btn-close-tooltip.png) no-repeat 0 0;background-size: 100% 100%}
