/* CSS Document */

/*멤버십 인덱스*/
.ctnMembership.ctnMemIndex{ width:866px; overflow:hidden;}
.ctnMembership.ctnMemIndex img{ vertical-align:middle;}
.ctnMembership.ctnMemIndex .boxA{ overflow:hidden; padding:0 0 50px 0; margin:0 0 50px 0; border-bottom:#e8e4de solid 1px;}
.ctnMembership.ctnMemIndex .box1{ position:relative; width:426px; float:left;}
.ctnMembership.ctnMemIndex .box1 .btn{ position:absolute; right:0px; bottom:0;}
.ctnMembership.ctnMemIndex .boxA .photo{ float:left;width:244px;}
.ctnMembership.ctnMemIndex .boxA .txt{ float:right;width:171px;}
.ctnMembership.ctnMemIndex .box2{ position:relative; width:426px; float:right;}
.ctnMembership.ctnMemIndex .box2 .btn{ position:absolute; right:0px; bottom:0;}
.ctnMembership.ctnMemIndex .boxB{ overflow:hidden; padding:0 0 50px 0; margin:0 0 50px 0; width:900px;}
.ctnMembership.ctnMemIndex .boxB .btn{ position:absolute; right:0px; bottom:0;}
.ctnMembership.ctnMemIndex .boxB .box{ position:relative; width:274px; float:left; margin:0 21px 0 0;}

.ctnMembership .hTit{ border-bottom:#a1886f solid 3px; height:27px; margin:0 0 10px 0;}
.ctnMembership .hTit .tit{ float:left; height:27px;}
.ctnMembership .hTitS{ height:24px; margin:0 0 5px 0;}
.ctnMembership .hTitS .tit{ font-size:12px; font-weight:bold; padding:2px 0 0 0px; float:left}


/*제주골드*/
.ctnMembership.ctnJejuGold{}
.ctnMembership.ctnJejuGold .infoMsg{  background:url(../../images/ko/jeju/membership/jejuGoldInfoMsg.gif) no-repeat; width:866px; height:41px; line-height:100px; overflow:hidden; margin:0 0 0px 0;}
.ctnMembership.ctnJejuGold .infoMsg2{margin:0px 0 0 0; width:866px; overflow:hidden; }
.ctnMembership.ctnJejuGold .cardBox{ overflow:hidden; position:relative; margin:0 0 20px 0;}
.ctnMembership.ctnJejuGold .cardBox .fLeft{ float:left; width:267px;}
.ctnMembership.ctnJejuGold .cardBox .fRight{ float:right; width:568px;}
.ctnMembership.ctnJejuGold .cardBox .cardImg{}
.ctnMembership.ctnJejuGold .cardBox .cardImg .img{ vertical-align:middle;}
.ctnMembership.ctnJejuGold .cardBox .info{ background:url(../../images/ko/jeju/membership/jejuGoldCardInfo.gif) no-repeat; width:457px; height:120px;}
.ctnMembership.ctnJejuGold .cardBox .info *{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuGold .cardBox .btnPoinSch{ position:absolute; right:0px; top:0; background:url(../../images/ko/jeju/membership/jejuGoldBtnPointSch.gif) no-repeat; width:94px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuGold .cardBox .btn{}
.ctnMembership.ctnJejuGold .cardBox .btn .btnQna{ background:url(../../images/ko/jeju/membership/jejuGoldBtnQna.gif) no-repeat; width:106px; height:44px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuGold .cardBox .btn .btnJoin{background:url(../../images/ko/jeju/membership/jejuGoldBtnJoinSend.gif) no-repeat; width:106px; height:44px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuGold .cardBox .snsLink { position:absolute; right:0px;bottom:0px;}
.ctnMembership.ctnJejuGold .cardBox .snsLink .btnTwitter{background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;margin-right:5px;}
.ctnMembership.ctnJejuGold .cardBox .snsLink .btnFacebook{ background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat -29px 0; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuGold .infoGuideMsg{ margin:0 0 30px 0; background:#fbfbfb; border:#eaeaea solid 1px; padding:15px 20px;}
.ctnMembership.ctnJejuGold .infoGuideMsg li{ color:#666; background:url(../../images/ko/jeju/main/bul01.gif) no-repeat 0 8px; padding:0 0 0 10px;}
.ctnMembership.ctnJejuGold .tabCardBox{ position:relative; padding:36px 0px 0 0px; zoom:1;}
.ctnMembership.ctnJejuGold .tabCardBox:after{clear:both;content:"";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.ctnMembership.ctnJejuGold .tabCardBox .ctn{ float:left; width:100%;}
.ctnMembership.ctnJejuGold .tabCardBox .ctn .tit{ position:absolute; top:0px;margin:0px; padding:0px; font-size:12px; font-weight:normal; }
.ctnMembership.ctnJejuGold .tabCardBox .ctn .tit a{ display:block; width:130px; height:37px; background:url(../../images/ko/jeju/membership/tabMenuMemJejuGold.gif) no-repeat; line-height:100px; overflow:hidden; }
.ctnMembership.ctnJejuGold .tabCardBox .ctn .box{ border:#727272 solid 1px; display:none; padding:25px; }
.ctnMembership.ctnJejuGold .tabCardBox .ctn1 .tit{ left:0px; }
.ctnMembership.ctnJejuGold .tabCardBox .ctn2 .tit{ left:129px; }
.ctnMembership.ctnJejuGold .tabCardBox .ctn1 .tit a{width:128px; background-position:0px 0px;}
.ctnMembership.ctnJejuGold .tabCardBox .ctn2 .tit a{ width:143px; background-position:-129px 0px;}
.ctnMembership.ctnJejuGold .tabCardBox .ctnOn .tit a{ background-image:url(../../images/ko/jeju/membership/tabMenuMemJejuGoldOn.gif)}
.ctnMembership.ctnJejuGold .tabCardBox .ctnOn .box{display:block;}
.ctnMembership.ctnJejuGold .tableBenefitWrap{ background:url(../../images/ko/jeju/membership/jejuGoldInfoImgA.gif) no-repeat; height:987px;}
.ctnMembership.ctnJejuGold .tableBenefitWrap .tableBenefit{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuGold .tableUsePointWrap{ background:url(../../images/ko/jeju/membership/jejuGoldInfoImgB.gif) no-repeat; height:815px; height:536px; margin:0 0 4px 0;}
.ctnMembership.ctnJejuGold .tableUsePointWrap h4,
.ctnMembership.ctnJejuGold .tableUsePointWrap .tableUsePoint{position:absolute; left:-9999%;}
.ctnMembership.ctnJejuGold .pointGuideBox{ position:relative; display:inline-block; *display:inline; zoom:1; z-index:20}
.ctnMembership.ctnJejuGold .pointGuideBox .btnPwHelp{ font-size:11px; font-weight:normal; color:#806925; text-decoration:none;}
.ctnMembership.ctnJejuGold .pointGuideBox .btnPwHelp .icoHelp{ background:url(../../images/ko/common/join/icoHelp.gif) no-repeat; width:15px; height:14px; margin:0 0 0 4px; display:inline-block; vertical-align:middle; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuGold .pointGuideBox .pointGuide{ display:none; position:absolute; left:62px; top:26px; width:480px; border:#a1886f solid 1px; padding:19px; background:#f7f4ea; z-index:100; zoom:1; color:#626262; font-size:11px;}
.ctnMembership.ctnJejuGold .pointGuideBox .pointGuide .tit{ font-weight:bold; margin:0 0 10px 0;}
.ctnMembership.ctnJejuGold .pointGuideBox .pointGuide .list li{background:url(../../images/ko/dongtan/main/bul01.gif) no-repeat 0 9px; padding:0 0 0 8px;}
.ctnMembership.ctnJejuGold .pointGuideBox .pointGuide .btnClose{position:absolute; right:5px; top:5px; background:url(../../images/ko/common/join/btnClose.gif) no-repeat; width:20px; height:20px; text-indent:-9999%; overflow:hidden; }
.ctnMembership.ctnJejuGold .pointGuideBox .pointGuide .pwGuideArrow{ position:absolute; left:18px; top:-6px; background:url(../../images/ko/common/join/pwGuideArrowTop.gif) no-repeat; width:15px; height:6px; overflow:hidden;}

.ctnMembership.ctnJejuGoldJoin1{}
.ctnMembership.ctnJejuGoldJoin1 .infoMsg{ background:url(../../images/ko/jeju/membership/jejuGoldInfoMSg.gif) no-repeat; width:404px; height:41px; line-height:100px; overflow:hidden; margin:0 0 20px 0;}

.ctnMembership.ctnJejuGoldJoin1 .hTit{ margin:20px 0 25px 0;}
.ctnMembership.ctnJejuGoldJoin1 .hTit .tit{ background:url(../../images/ko/jeju/membership/jejuGoldJoin1Tit1.gif) no-repeat; width:365px; height:27px; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuGoldJoin1 .clauseBox{ margin:0 0 25px 0;}
.ctnMembership.ctnJejuGoldJoin1 .clauseBox .scBox{ height:100px;}
.ctnMembership.ctnJejuGoldJoin .btnMembershipJoin{ background:url(../../images/ko/jeju/membership/jejuGoldJoin1BtnJoin.jpg) no-repeat; width:137px; height:44px; vertical-align:middle; display:inline-block; line-height:200px; overflow:hidden;}

.ctnMembership.ctnJejuGoldJoin2{}
.ctnMembership.ctnJejuGoldJoin2 .infoMsg{ background:url(../../images/ko/jeju/membership/jejuGoldInfoMSg.gif) no-repeat; width:404px; height:41px; line-height:100px; overflow:hidden; margin:0 0 20px 0;}
.ctnMembership.ctnJejuGoldJoin2 .hTit{ margin:0 0 25px 0;}
.ctnMembership.ctnJejuGoldJoin2 .hTit .tit{ background:url(../../images/ko/jeju/membership/jejuGoldJoin1Tit1.gif) no-repeat; width:365px; height:27px; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo{}
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo th{ line-height:22px;}
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo1{ margin:0 0 4px 0;}
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2{ margin:0 0 4px 0;}
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label{ min-width:40px; display:inline-block;}
.ctnMembership.ctnJejuGoldJoin2 .msg1{ margin:0 0 20px 0; color:#666}
.ctnMembership.ctnJejuGoldJoin2 .msg1 a{ text-decoration:underline;}
.ctnMembership.ctnJejuGoldJoin2 .msg2{ margin:0 0 30px 0; color:#666}
.ctnMembership.ctnJejuGoldJoin2 .btnMembershipJoinCancel{ background:url(../../images/ko/jeju/membership/jejuGoldJoin2BtnCancel.gif) no-repeat; width:99px; height:44px; vertical-align:middle; display:inline-block; line-height:200px; overflow:hidden;}

.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDaySel1,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDaySel2,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayName1,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayName2,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayYY1,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayYY2,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayMM1,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayMM2,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayDD1,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayDD2,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayDD1,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 label.spDayDD2{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 span.rsvHotel{ margin-right:15px;}
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 .spDayAdd{ padding:5px 0 0 0;}
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 .spDayName1,
.ctnMembership.ctnJejuGoldJoin2 .tableUserInfo2 .spDayName2{ width:90px;}


.ctnMembership.ctnJejuGoldJoin3{}
.ctnMembership.ctnJejuGoldJoin3 .infoMsg{ background:url(../../images/ko/jeju/membership/jejuGoldInfoMSg.gif) no-repeat; width:404px; height:41px; line-height:100px; overflow:hidden; margin:0 0 20px 0;}
.ctnMembership.ctnJejuGoldJoin3 .joinComBox{ margin:50px 0 25px 0;}
.ctnMembership.ctnJejuGoldJoin3 .joinComBox h5{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuGoldJoin3 .joinComBox .box{ margin:0 0 20px 0; background:url(../../images/ko/jeju/membership/jejuGoldJoin3Tit1.gif) no-repeat; height:120px;}
.ctnMembership.ctnJejuGoldJoin3 .joinComBox .box .msg{ font-size:16px; font-weight:bold; color:#444; text-align:center; padding:54px 0 0 0;}
.ctnMembership.ctnJejuGoldJoin3 .joinComBox .guideList{ width:500px; margin:auto;}
.ctnMembership.ctnJejuGoldJoin3 .btnMembershipConfirm{ background:url(../../images/ko/jeju/membership/jejuGoldJoin3BtnConfirm.gif) no-repeat; width:99px; height:44px; vertical-align:middle; display:inline-block; line-height:200px; overflow:hidden;}



/*제주블루*/
.ctnMembership.ctnJejuBlue{}
.ctnMembership.ctnJejuBlue .infoMsg{ background:url(../../images/ko/jeju/membership/jejuBlueInfoMsg.gif) no-repeat; width:866px; height:41px; line-height:100px; overflow:hidden; margin:0 0 0px 0;}
.ctnMembership.ctnJejuBlue .infoMsg2{width:866px; overflow:hidden; margin:0px 0 0px 0;}

.ctnMembership.ctnJejuBlue .cardBox{ overflow:hidden; position:relative; margin:0 0 20px 0;}
.ctnMembership.ctnJejuBlue .cardBox .fLeft{ float:left; width:267px;}
.ctnMembership.ctnJejuBlue .cardBox .fRight{ float:right; width:568px;}
.ctnMembership.ctnJejuBlue .cardBox .cardImg{}
.ctnMembership.ctnJejuBlue .cardBox .cardImg .img{ vertical-align:middle;}
.ctnMembership.ctnJejuBlue .cardBox .info{ background:url(../../images/ko/jeju/membership/jejuBlueCardInfo.gif) no-repeat; width:457px; height:120px;}
.ctnMembership.ctnJejuBlue .cardBox .info *{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuBlue .cardBox .btnPoinSch{ position:absolute; right:0px; top:0; background:url(../../images/ko/dongtan/membership/doubleChoiceBtnDinSch.gif) no-repeat; width:131px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuBlue .cardBox .btn{}
.ctnMembership.ctnJejuBlue .cardBox .btn .btnQna{ background:url(../../images/ko/jeju/membership/jejuGoldBtnQna.gif) no-repeat; width:106px; height:44px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuBlue .cardBox .btn .btnJoin{background:url(../../images/ko/jeju/membership/jejuGoldBtnJoinSend.gif) no-repeat; width:106px; height:44px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuBlue .cardBox .snsLink { position:absolute; right:0px;bottom:0px;}
.ctnMembership.ctnJejuBlue .cardBox .snsLink .btnTwitter{background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;margin-right:5px;}
.ctnMembership.ctnJejuBlue .cardBox .snsLink .btnFacebook{ background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat -29px 0; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuBlue .infoGuideMsg{ margin:0 0 30px 0; background:#fbfbfb; border:#eaeaea solid 1px; padding:15px 20px;}
.ctnMembership.ctnJejuBlue .infoGuideMsg li{ color:#666; background:url(../../images/ko/jeju/main/bul02.gif) no-repeat 0 8px; padding:0 0 0 10px;}
.ctnMembership.ctnJejuBlue .tabCardBox{ position:relative; padding:36px 0px 0 0px; zoom:1;}
.ctnMembership.ctnJejuBlue .tabCardBox:after{clear:both;content:"";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.ctnMembership.ctnJejuBlue .tabCardBox .ctn{ float:left; width:100%;}
.ctnMembership.ctnJejuBlue .tabCardBox .ctn .tit{ position:absolute; top:0px;margin:0px; padding:0px; font-size:12px; font-weight:normal; }
.ctnMembership.ctnJejuBlue .tabCardBox .ctn .tit a{ display:block; width:130px; height:37px; background:url(../../images/ko/jeju/membership/tabMenuMemJejuGold.gif) no-repeat; line-height:100px; overflow:hidden; }
.ctnMembership.ctnJejuBlue .tabCardBox .ctn .box{ border:#727272 solid 1px; display:none; padding:25px; }
.ctnMembership.ctnJejuBlue .tabCardBox .ctn1 .tit{ left:0px; }
.ctnMembership.ctnJejuBlue .tabCardBox .ctn2 .tit{ left:129px; }
.ctnMembership.ctnJejuBlue .tabCardBox .ctn1 .tit a{width:128px; background-position:0px 0px;}
.ctnMembership.ctnJejuBlue .tabCardBox .ctn2 .tit a{ width:143px; background-position:-129px 0px;}
.ctnMembership.ctnJejuBlue .tabCardBox .ctnOn .tit a{ background-image:url(../../images/ko/jeju/membership/tabMenuMemJejuGoldOn.gif)}
.ctnMembership.ctnJejuBlue .tabCardBox .ctnOn .box{display:block;}
.ctnMembership.ctnJejuBlue .tableBenefitWrap{ background:url(../../images/ko/jeju/membership/jejuBlueInfoImgA.gif) no-repeat; height:937px;}
.ctnMembership.ctnJejuBlue .tableBenefitWrap .tableBenefit{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuBlue .tableUsePointWrap{ background:url(../../images/ko/jeju/membership/jejuBlueInfoImgB.gif) no-repeat; height:815px; height:536px; margin:0 0 4px 0;}
.ctnMembership.ctnJejuBlue .tableUsePointWrap h4,
.ctnMembership.ctnJejuBlue .tableUsePointWrap .tableUsePoint{position:absolute; left:-9999%;}
.ctnMembership.ctnJejuBlue .pointGuideBox{ position:relative; display:inline-block; *display:inline; zoom:1; z-index:20}
.ctnMembership.ctnJejuBlue .pointGuideBox .btnPwHelp{ font-size:11px; font-weight:normal; color:#806925; text-decoration:none;}
.ctnMembership.ctnJejuBlue .pointGuideBox .btnPwHelp .icoHelp{ background:url(../../images/ko/common/join/icoHelp.gif) no-repeat; width:15px; height:14px; margin:0 0 0 4px; display:inline-block; vertical-align:middle; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuBlue .pointGuideBox .pointGuide{ display:none; position:absolute; left:62px; top:26px; width:480px; border:#a1886f solid 1px; padding:19px; background:#f7f4ea; z-index:100; zoom:1; color:#626262; font-size:11px;}
.ctnMembership.ctnJejuBlue .pointGuideBox .pointGuide .tit{ font-weight:bold; margin:0 0 10px 0;}
.ctnMembership.ctnJejuBlue .pointGuideBox .pointGuide .list li{background:url(../../images/ko/dongtan/main/bul01.gif) no-repeat 0 9px; padding:0 0 0 8px;}
.ctnMembership.ctnJejuBlue .pointGuideBox .pointGuide .btnClose{position:absolute; right:5px; top:5px; background:url(../../images/ko/common/join/btnClose.gif) no-repeat; width:20px; height:20px; text-indent:-9999%; overflow:hidden; }
.ctnMembership.ctnJejuBlue .pointGuideBox .pointGuide .pwGuideArrow{ position:absolute; left:18px; top:-6px; background:url(../../images/ko/common/join/pwGuideArrowTop.gif) no-repeat; width:15px; height:6px; overflow:hidden;}

.ctnMembership.ctnJejuBlue .tabBenefitBox{ position:relative; padding:138px 0px 0 0px;overflow:hidden;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB{ float:left; width:100%; }
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB .titS{ position:absolute; top:0px;margin:0px; padding:0px; font-size:12px; font-weight:normal; }
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB .titS a{ display:block; padding:0px; margin:0;height:128px; width:203px; line-height:20px; background:#FFF; text-align:center; border:#ccc solid 0px; border-bottom:none; text-decoration:none; }
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB .titS img{position:absolute; left:0px; top:0;vertical-align:middle;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB .titS .mask{ display:none; border:#826b51 solid 5px; border-bottom:none; position:absolute; left:0px; top:0; width:193px; height:90px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB .titS .txt{position:absolute; left:0px; top:90px; display:block; width:203px; height:33px; background:url(../../images/ko/jeju/membership/jejuBlueBeM.gif) no-repeat; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB .box{ display:none; padding:0; margin:0; border:none;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB1 .titS{ left:0px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB2 .titS{ left:204px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB3 .titS{ left:408px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB4 .titS{ left:612px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnBOn .titS a{ height:20px; font-weight:bold; font-size:16px; line-height:22px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnBOn .titS .mask{ display:block;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnBOn .box{display:block;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB .titS .txt{ background-color:#727272}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB1 .titS .txt{ background-position:0px 0px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB2 .titS .txt{ background-position:-204px 0px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB3 .titS .txt{ background-position:-408px 0px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnB4 .titS .txt{ background-position:-612px 0px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .ctnBOn .titS .txt{ background-image:url(../../images/ko/jeju/membership/jejuBlueBeMOn.gif)}

.ctnMembership.ctnJejuBlue .tabBenefitBox .box .titH{ font-weight:bold; margin:0 0 2px 0;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .box .list{margin:0 0 20px 0}
.ctnMembership.ctnJejuBlue .tabBenefitBox .box .list li{ background:url(../../images/ko/jeju/main/bul02.gif) no-repeat 0 8px; padding:0 0 0 12px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .box .infoGuide{ margin:0 0 30px 0; background:#fbfbfb; border:#eaeaea solid 1px; padding:15px 20px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .box .infoGuide li{ color:#666; background:url(../../images/ko/jeju/main/bul01.gif) no-repeat 0 8px; padding:0 0 0 10px;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .box .infoGuide3{ margin:20px 0 0 0;}
.ctnMembership.ctnJejuBlue .tabBenefitBox .box1{}
.ctnMembership.ctnJejuBlue .tabBenefitBox .box1 .infoGuide{ margin:0}
.ctnMembership.ctnJejuBlue .tabBenefitBox .box3 .titH2{ margin:0 0 20px 0;}


.ctnMembership.ctnJejuBlueJoin1{}

.ctnMembership.ctnJejuBlueJoin1 .hTitS{}
.ctnMembership.ctnJejuBlueJoin1 .hTitS .tit{}
.ctnMembership.ctnJejuBlueJoin1 .hTitS .info{ float:right;}
.ctnMembership.ctnJejuBlueJoin1 .infoMsg{ margin:0 0 20px 0;}
.ctnMembership.ctnJejuBlueJoin1 .hTit{ margin:20px 0 0 0;}
.ctnMembership.ctnJejuBlueJoin1 .hTit .tit{ background:url(../../images/ko/jeju/membership/jejuBlueJoin1Tit1.gif) no-repeat; width:300px; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuBlueJoin1 .msg{ background:url(../../images/ko/jeju/membership/jejuBlueJoin1Msg1.gif) no-repeat; height:46px; line-height:100px; overflow:hidden;} 
.ctnMembership.ctnJejuBlueJoin1 .btnMembershipJoin{ background:url(../../images/ko/jeju/membership/jejuGoldJoin1BtnJoin.jpg) no-repeat; width:137px; height:44px; vertical-align:middle; display:inline-block; line-height:200px; overflow:hidden;}
.ctnMembership.ctnJejuBlueJoin1 .btnMembershipJoinCancel{ background:url(../../images/ko/jeju/membership/jejuGoldJoin2BtnCancel.gif) no-repeat; width:99px; height:44px; vertical-align:middle; display:inline-block; line-height:200px; overflow:hidden;}
.ctnMembership.ctnJejuBlueJoin1 .btnSchAddress{ background:url(../../images/ko/common/join/btnSchAddress.gif) no-repeat; width:66px; height:27px; display:inline-block; vertical-align:middle; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuBlueJoin1 .btnCertifi{ background:url(../../images/ko/jeju/membership/BtnCertifiMobile.gif) no-repeat; width:77px; height:27px; display:inline-block; vertical-align:middle; line-height:200px; overflow:hidden;}

.ctnMembership.ctnJejuBlueJoin1 .addressWrap .addressOld input.address1{ width:712px}
.ctnMembership.ctnJejuBlueJoin1 .addressWrap .addressOld input.address2{ width:712px;}
.ctnMembership.ctnJejuBlueJoin1 .addressWrap .addressNew div.addressNew1,
.ctnMembership.ctnJejuBlueJoin1 .addressWrap .addressNew div.addressNew2{ width:650px}
.ctnMembership.ctnJejuBlueJoin1 .addressWrap .addressNew input.addressNew1,
.ctnMembership.ctnJejuBlueJoin1 .addressWrap .addressNew input.addressNew2{ width:653px;}
.ctnMembership.ctnJejuBlueJoin1 label.lastNameEn,
.ctnMembership.ctnJejuBlueJoin1 label.firstNameEn{ margin:0 10px 0 0;}
.ctnMembership.ctnJejuBlueJoin1 input.lastNameEn,
.ctnMembership.ctnJejuBlueJoin1 input.firstNameEn{ margin:0 10px 0 0;}
.ctnMembership.ctnJejuBlueJoin1 .emailRecepBox{ padding:10px 0 4px 0;}
.ctnMembership.ctnJejuBlueJoin1 label.birthDay{ margin:0 15px 0 0}

.ctnMembership.ctnJejuBlueJoin2{}
.ctnMembership.ctnJejuBlueJoin2 .infoMsg{ background:url(../../images/ko/jeju/membership/jejuBlueInfoMSg.gif) no-repeat; width:404px; height:41px; line-height:100px; overflow:hidden; margin:0 0 20px 0;}
.ctnMembership.ctnJejuBlueJoin2 .joinComBox{ margin:50px 0 25px 0;}
.ctnMembership.ctnJejuBlueJoin2 .joinComBox h5{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuBlueJoin2 .joinComBox .box{ margin:0 0 20px 0; background:url(../../images/ko/jeju/membership/jejuBlueJoin3Tit1.gif) no-repeat; height:120px;}
.ctnMembership.ctnJejuBlueJoin2 .joinComBox .box .msg{ font-size:16px; font-weight:bold; color:#444; text-align:center; padding:54px 0 0 0;}
.ctnMembership.ctnJejuBlueJoin2 .joinComBox .guideList{ width:370px; margin:auto;}
.ctnMembership.ctnJejuBlueJoin2 .btnMembershipConfirm{ background:url(../../images/ko/jeju/membership/jejuGoldJoin3BtnConfirm.gif) no-repeat; width:99px; height:44px; vertical-align:middle; display:inline-block; line-height:200px; overflow:hidden;}




/*제주피트니스*/
.ctnMembership.ctnJejuFitness{}
.ctnMembership.ctnJejuFitness .infoMsg{ background:url(../../images/ko/jeju/membership/JejuFitnessInfoMsg.gif) no-repeat; width:866px; height:41px; line-height:100px; overflow:hidden; margin:0 0 0px 0;}
.ctnMembership.ctnJejuFitness .infoMsg2{ width:866px; overflow:hidden; margin:0 0 0px 0;}

.ctnMembership.ctnJejuFitness .cardBox{ overflow:hidden; position:relative; margin:0 0 30px 0;}
.ctnMembership.ctnJejuFitness .cardBox .fLeft{ float:left; width:267px;}
.ctnMembership.ctnJejuFitness .cardBox .fRight{ float:right; width:568px;}
.ctnMembership.ctnJejuFitness .cardBox .cardImg{}
.ctnMembership.ctnJejuFitness .cardBox .cardImg .img{ vertical-align:middle;}
.ctnMembership.ctnJejuFitness .cardBox .info{ background:url(../../images/ko/jeju/membership/jejuFitnessCardInfo.gif) no-repeat; width:567px; height:120px;}
.ctnMembership.ctnJejuFitness .cardBox .info *{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuFitness .cardBox .btnPoinSch{ position:absolute; right:0px; top:0; background:url(../../images/ko/jeju/membership/JejuFitnessBtnPointSch.gif) no-repeat; width:94px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuFitness .cardBox .btn{}
.ctnMembership.ctnJejuFitness .cardBox .btn .btnQna{ background:url(../../images/ko/jeju/membership/jejuGoldBtnQna.gif) no-repeat; width:106px; height:44px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuFitness .cardBox .btn .btnFacilities{background:url(../../images/ko/jeju/membership/JejuFitnessBtnFacilities.gif) no-repeat; width:106px; height:44px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnJejuFitness .cardBox .snsLink { position:absolute; right:0px;bottom:0px;}
.ctnMembership.ctnJejuFitness .cardBox .snsLink .btnTwitter{background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;margin-right:5px;}
.ctnMembership.ctnJejuFitness .cardBox .snsLink .btnFacebook{ background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat -29px 0; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}

.ctnMembership.ctnJejuFitness .tabCardBox{ position:relative; padding:36px 0px 0 0px; zoom:1;}
.ctnMembership.ctnJejuFitness .tabCardBox:after{clear:both;content:"";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.ctnMembership.ctnJejuFitness .tabCardBox .ctn{ float:left; width:100%;}
.ctnMembership.ctnJejuFitness .tabCardBox .ctn .tit{ position:absolute; top:0px;margin:0px; padding:0px; font-size:12px; font-weight:normal; }
.ctnMembership.ctnJejuFitness .tabCardBox .ctn .tit a{ display:block; width:130px; height:37px; background:url(../../images/ko/jeju/membership/tabMenuMemJejuFitness.gif) no-repeat; line-height:100px; overflow:hidden; }
.ctnMembership.ctnJejuFitness .tabCardBox .ctn .box{ border:#727272 solid 1px; display:none; padding:25px; }
.ctnMembership.ctnJejuFitness .tabCardBox .ctn1 .tit{ left:0px; }
.ctnMembership.ctnJejuFitness .tabCardBox .ctn2 .tit{ left:129px; }
.ctnMembership.ctnJejuFitness .tabCardBox .ctn1 .tit a{width:128px; background-position:0px 0px;}
.ctnMembership.ctnJejuFitness .tabCardBox .ctn2 .tit a{ width:143px; background-position:-129px 0px;}
.ctnMembership.ctnJejuFitness .tabCardBox .ctnOn .tit a{ background-image:url(../../images/ko/jeju/membership/tabMenuMemJejuFitnessOn.gif)}
.ctnMembership.ctnJejuFitness .tabCardBox .ctnOn .box{display:block;}
.ctnMembership.ctnJejuFitness .tableBenefitWrap{ background:url(../../images/ko/jeju/membership/jejuFitnessInfoImgA.gif) no-repeat; height:181px;}
.ctnMembership.ctnJejuFitness .tableBenefitWrap *{ position:absolute; left:-9999%;}
.ctnMembership.ctnJejuFitness .tableUsePointWrap{ background:url(../../images/ko/jeju/membership/jejuFitnessInfoImgB.gif) no-repeat; height:372px; height:458px; margin:0 0 4px 0;}
.ctnMembership.ctnJejuFitness .tableUsePointWrap *{position:absolute; left:-9999%;}

/*제주 더 신라스파*/
.ctnMembership.ctnShillaSpa{}
.ctnMembership.ctnShillaSpa .infoMsg{ background:url(../../images/ko/jeju/membership/shillaSpaInfoMsg.gif) no-repeat; width:866px; height:41px; line-height:100px; overflow:hidden; margin:0 0 0px 0;}
.ctnMembership.ctnShillaSpa .infoMsg2{ width:866px; overflow:hidden; margin:0 0 0px 0;}

.ctnMembership.ctnShillaSpa .cardBox{ overflow:hidden; position:relative; margin:0 0 30px 0;}
.ctnMembership.ctnShillaSpa .cardBox .fLeft{ float:left; width:267px;}
.ctnMembership.ctnShillaSpa .cardBox .fRight{ float:right; width:568px;}
.ctnMembership.ctnShillaSpa .cardBox .cardImg{}
.ctnMembership.ctnShillaSpa .cardBox .cardImg .img{ vertical-align:middle;}
.ctnMembership.ctnShillaSpa .cardBox .info{ background:url(../../images/ko/jeju/membership/shillaSpaCardInfo.gif) no-repeat; width:567px; height:139px;}
.ctnMembership.ctnShillaSpa .cardBox .info *{ position:absolute; left:-9999%;}
.ctnMembership.ctnShillaSpa .cardBox .btn{}
.ctnMembership.ctnShillaSpa .cardBox .btn .btnQna{ background:url(../../images/ko/jeju/membership/jejuGoldBtnQna.gif) no-repeat; width:106px; height:44px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnShillaSpa .tabCardBox{ position:relative; padding:36px 0px 0 0px; zoom:1;}
.ctnMembership.ctnShillaSpa .cardBox .snsLink { position:absolute; right:0px;bottom:0px;}
.ctnMembership.ctnShillaSpa .cardBox .snsLink .btnTwitter{background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;margin-right:5px;}
.ctnMembership.ctnShillaSpa .cardBox .snsLink .btnFacebook{ background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat -29px 0; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}

.ctnMembership.ctnShillaSpa .tabCardBox:after{clear:both;content:"";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.ctnMembership.ctnShillaSpa .tabCardBox .ctn{ float:left; width:100%;}
.ctnMembership.ctnShillaSpa .tabCardBox .ctn .tit{ position:absolute; top:0px;margin:0px; padding:0px; font-size:12px; font-weight:normal; }
.ctnMembership.ctnShillaSpa .tabCardBox .ctn .tit a{ display:block; width:130px; height:37px; background:url(../../images/ko/jeju/membership/tabMenuMemJejuFitness.gif) no-repeat; line-height:100px; overflow:hidden; }
.ctnMembership.ctnShillaSpa .tabCardBox .ctn .box{ border:#727272 solid 1px; display:none; padding:25px; }
.ctnMembership.ctnShillaSpa .tabCardBox .ctn1 .tit{ left:0px; }
.ctnMembership.ctnShillaSpa .tabCardBox .ctn2 .tit{ left:129px; }
.ctnMembership.ctnShillaSpa .tabCardBox .ctn1 .tit a{width:128px; background-position:0px 0px;}
.ctnMembership.ctnShillaSpa .tabCardBox .ctn2 .tit a{ width:143px; background-position:-129px 0px;}
.ctnMembership.ctnShillaSpa .tabCardBox .ctnOn .tit a{ background-image:url(../../images/ko/jeju/membership/tabMenuMemJejuFitnessOn.gif)}
.ctnMembership.ctnShillaSpa .tabCardBox .ctnOn .box{display:block;}
.ctnMembership.ctnShillaSpa .tableBenefitWrap{ background:url(../../images/ko/jeju/membership/shillaSpaInfoImgA.gif) no-repeat; height:84px;}
.ctnMembership.ctnShillaSpa .tableBenefitWrap *{ position:absolute; left:-9999%;}
.ctnMembership.ctnShillaSpa .tableUsePointWrap{ background:url(../../images/ko/jeju/membership/shillaSpaInfoImgB.gif) no-repeat; height:815px; height:268px; margin:0 0 4px 0;}
.ctnMembership.ctnShillaSpa .tableUsePointWrap *{position:absolute; left:-9999%;}



.ctnMembership label.nameH,
.ctnMembership label.nameK,
.ctnMembership label.emailId,
.ctnMembership label.emailDomain,
.ctnMembership label.emailDomainSel,
.ctnMembership label.phoneComp,
.ctnMembership label.phoneNum1,
.ctnMembership label.phoneNum2,
.ctnMembership label.phoneNum3,
.ctnMembership label.phoneHome,
.ctnMembership label.phoneHome1,
.ctnMembership label.phoneHome2,
.ctnMembership label.zipcode1,
.ctnMembership label.zipcode2,
.ctnMembership label.address1,
.ctnMembership label.address2,
.ctnMembership label.addressNew1,
.ctnMembership label.addressNew2,
.ctnMembership label.phoneHome2,
.ctnMembership label.phoneHome2{ position:absolute; left:-9999%;}
.ctnMembership .tableFormInput{ margin:0 0 20px 0;}


/*제주 피트니스&스파*/
.ctnMembership.ctnFitnessSpa{}
.ctnMembership.ctnFitnessSpa .infoMsg{ background:url(../../images/ko/jeju/membership/fitnessSpaInfoMsg.gif) no-repeat; width:866px; height:41px; line-height:100px; overflow:hidden; margin:0 0 0px 0;}
.ctnMembership.ctnFitnessSpa .infoMsg2{ width:866px; overflow:hidden; margin:0 0 0px 0;}

.ctnMembership.ctnFitnessSpa .cardBox{ overflow:hidden; position:relative; margin:0 0 30px 0;}
.ctnMembership.ctnFitnessSpa .cardBox .fLeft{ float:left; width:267px;}
.ctnMembership.ctnFitnessSpa .cardBox .fRight{ float:right; width:568px;}
.ctnMembership.ctnFitnessSpa .cardBox .cardImg{}
.ctnMembership.ctnFitnessSpa .cardBox .cardImg .img{ vertical-align:middle;}
.ctnMembership.ctnFitnessSpa .cardBox .info{ background:url(../../images/ko/jeju/membership/fitnessSpaCardInfo.gif) no-repeat; width:567px; height:139px;}
.ctnMembership.ctnFitnessSpa .cardBox .info *{ position:absolute; left:-9999%;}
.ctnMembership.ctnFitnessSpa .cardBox .btn{}
.ctnMembership.ctnFitnessSpa .cardBox .btn .btnQna{ background:url(../../images/ko/jeju/membership/jejuGoldBtnQna.gif) no-repeat; width:106px; height:44px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.ctnMembership.ctnFitnessSpa .cardBox .snsLink { position:absolute; right:0px;bottom:0px;}
.ctnMembership.ctnFitnessSpa .cardBox .snsLink .btnTwitter{background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;margin-right:5px;}
.ctnMembership.ctnFitnessSpa .cardBox .snsLink .btnFacebook{ background:url(../../images/ko/jeju/membership/jejuGoldBtnSns.gif) no-repeat -29px 0; width:23px; height:23px; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}

.ctnMembership.ctnFitnessSpa .tabCardBox{ position:relative; padding:36px 0px 0 0px; zoom:1;}
.ctnMembership.ctnFitnessSpa .tabCardBox:after{clear:both;content:"";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.ctnMembership.ctnFitnessSpa .tabCardBox .ctn{ float:left; width:100%;}
.ctnMembership.ctnFitnessSpa .tabCardBox .ctn .tit{ position:absolute; top:0px;margin:0px; padding:0px; font-size:12px; font-weight:normal; }
.ctnMembership.ctnFitnessSpa .tabCardBox .ctn .tit a{ display:block; width:130px; height:37px; background:url(../../images/ko/jeju/membership/tabMenuMemJejuFitness.gif) no-repeat; line-height:100px; overflow:hidden; }
.ctnMembership.ctnFitnessSpa .tabCardBox .ctn .box{ border:#727272 solid 1px; display:none; padding:25px; }
.ctnMembership.ctnFitnessSpa .tabCardBox .ctn1 .tit{ left:0px; }
.ctnMembership.ctnFitnessSpa .tabCardBox .ctn2 .tit{ left:129px; }
.ctnMembership.ctnFitnessSpa .tabCardBox .ctn1 .tit a{width:128px; background-position:0px 0px;}
.ctnMembership.ctnFitnessSpa .tabCardBox .ctn2 .tit a{ width:143px; background-position:-129px 0px;}
.ctnMembership.ctnFitnessSpa .tabCardBox .ctnOn .tit a{ background-image:url(../../images/ko/jeju/membership/tabMenuMemJejuFitnessOn.gif)}
.ctnMembership.ctnFitnessSpa .tabCardBox .ctnOn .box{display:block;}
.ctnMembership.ctnFitnessSpa .tableBenefitWrap{ background:url(../../images/ko/jeju/membership/fitnessSpaInfoImgA.gif) no-repeat; height:113px;}
.ctnMembership.ctnFitnessSpa .tableBenefitWrap *{ position:absolute; left:-9999%;}
.ctnMembership.ctnFitnessSpa .tableUsePointWrap{ background:url(../../images/ko/jeju/membership/fitnessSpaInfoImgB.gif) no-repeat; height:815px; height:299px; margin:0 0 4px 0;}
.ctnMembership.ctnFitnessSpa .tableUsePointWrap *{position:absolute; left:-9999%;}




/*포인트조회팝업*/
.popLayerPointSch{ width:480px; left:50%; top:200px; margin:0px 0 0 -240px; position:fixed;}
.popLayerPointSch .popHead .tit{ background:url(../../images/ko/dongtan/main/popHeadTitMypage.gif) no-repeat 0 -50px; line-height:100px; overflow:hidden;}
.popLayerPointSch .guideBox{ padding:0px 0;}
.popLayerPointSch .pointBox{ position:relative;}
.popLayerPointSch .pointBox .inputForm{ margin:0 0 4px 0;}
.popLayerPointSch .pointBox .schBtn{ position:absolute; right:0px; top:0px;}
.popLayerPointSch .pointBox .schBtn .btnSch{ width:104px; height:58px; background:url(../../images/ko/dongtan/membership/pointSchPopBtnSch.gif) no-repeat; border:none; font-size:0; line-height:200px; overflow:hidden;}
.popLayerPointSch .pointBox .inputCardNum{ margin:0 0 3px 0; *margin:0 0 0px 0;}
.popLayerPointSch .msg{ color:#666666; margin:0 0 20px 0;}
.popLayerPointSch .guideBox{ color:#666666}
.popLayerPointSch .guideBox .txt1{ }
.popLayerPointSch .guideBox .txt2{ padding:0 0 0 16px;}


.popLayerPointSch input.cardNum{ font-weight:bold; width:297px; color:#727272;}
.popLayerPointSch input.firstName{ font-weight:bold; width:143px; color:#727272;}
.popLayerPointSch input.lastName{ font-weight:bold; width:140px; color:#727272;}
.popLayerPointSch .pointBox label.cardNum,
.popLayerPointSch .pointBox label.userName,
.popLayerPointSch .pointBox label.lastName,
.popLayerPointSch .pointBox label.firstName{ position:absolute; left:-9999%}

.popLayerPointSch .pointResult .cardNum{ margin:0 0 15px 0; background:#fbfbfb; border:#e9e9e9 solid 1px; padding:10px 15px; text-align:center;}
.popLayerPointSch .pointResult .msg{ margin:0 0 3px 0;}
.popLayerPointSch .pointResult .resultBox{  margin:0 0 15px 0; padding:0 0 10px 0; border-bottom:#e9e9e9 solid 1px;}
.popLayerPointSch .pointResult .resultBox .list{ width:220px; margin:auto;}
.popLayerPointSch .pointResult .resultBox .list li{ padding:2px 0;}
.popLayerPointSch .pointResult .resultBox .list li .name{ display:inline-block; min-width:100px;}
.popLayerPointSch .pointResult .resultBox .list li .amt{ display:inline-block; min-width:100px; text-align:right;}
.popLayerPointSch .pointResult .pointGuide{ background:#fbfbfb; border:#e9e9e9 solid 1px; padding:10px 15px; margin:0 0 10px 0;}
.popLayerPointSch .pointResult .pointGuide .tit{ font-weight:bold;}
.popLayerPointSch .pointResult .pointGuide .txt{ color:#666}

.popLayerPointSch .pointResultNone{}
.popLayerPointSch .pointResultNone .msg1{ margin:0 0 20px 0;}
.popLayerPointSch .pointResultNone .joinBox{border-bottom:#a1886f solid 1px;  border-top:#a1886f solid 1px; padding:10px 0; margin:0 0 10px 0;}
.popLayerPointSch .pointResultNone .joinBox2{border-bottom:#a1886f solid 1px;   margin:10px 0 10px 0;}
.popLayerPointSch .pointResultNone .joinBox .msg2{margin:0 auto 8px auto; width:357px; text-align:center; }
.popLayerPointSch .pointResultNone .joinBox .btnMemJoin{ width:85px; height:27px; background:url(../../images/ko/dongtan/membership/pointSchPopComBtnMemJoin.gif) no-repeat; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.popLayerPointSch .pointResultNone .joinBox .btnJoinSend{ width:85px; height:27px; background:url(../../images/ko/jeju/membership/pointSchPopComBtnJoinSend.gif) no-repeat; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}
.popLayerPointSch .pointResultNone .joinBox .btnPoint_R{ width:110px; height:27px; background:url(../../images/ko/jeju/membership/pointR_search.gif) no-repeat; vertical-align:middle; display:inline-block; line-height:100px; overflow:hidden;}

/*식음특전회수 조회팝업*/

.popLayerPointSchDining .popHead .tit{ background:url(../../images/ko/dongtan/main/popHeadTitMypage.gif) no-repeat 0 -100px;}

